flows/control_environment_simulator_dashboard.json
[
  {
    "id": "ces_tab",
    "type": "tab",
    "label": "Control Environment Simulator",
    "disabled": false,
    "info": "Debug-only closed-loop simulator for scheduler, unified control, eSpire280 machine safety, generator sequencer, and islanding sequencer. Writes simulated telemetry to global.telemetry and never connects to live Modbus."
  },
  {
    "id": "ces_ui_tab",
    "type": "ui_tab",
    "name": "Control Simulator",
    "icon": "timeline",
    "order": 12,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ces_group_env",
    "type": "ui_group",
    "name": "Environment",
    "tab": "ces_ui_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ces_group_faults",
    "type": "ui_group",
    "name": "Faults",
    "tab": "ces_ui_tab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ces_group_results",
    "type": "ui_group",
    "name": "Closed Loop State",
    "tab": "ces_ui_tab",
    "order": 3,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ces_group_trends",
    "type": "ui_group",
    "name": "Live Trends",
    "tab": "ces_ui_tab",
    "order": 4,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ces_load_slider",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Load kW",
    "label": "Load kW",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "loadKw",
    "topicType": "str",
    "min": "0",
    "max": "200",
    "step": "1",
    "className": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_pv_slider",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "PV Available kW",
    "label": "PV Available kW",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 2,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "pvAvailableKw",
    "topicType": "str",
    "min": "0",
    "max": "200",
    "step": "1",
    "className": "",
    "x": 170,
    "y": 120,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_load_range_slider",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Load Range +/- kW",
    "label": "Load Range +/- kW",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 3,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "loadRangeKw",
    "topicType": "str",
    "min": "0",
    "max": "100",
    "step": "1",
    "className": "",
    "x": 180,
    "y": 150,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_pv_range_slider",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "PV Range +/- kW",
    "label": "PV Range +/- kW",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 4,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "pvRangeKw",
    "topicType": "str",
    "min": "0",
    "max": "150",
    "step": "1",
    "className": "",
    "x": 170,
    "y": 180,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_crd_dropdown",
    "type": "ui_dropdown",
    "z": "ces_tab",
    "name": "CRD Mode",
    "label": "CRD Mode",
    "tooltip": "",
    "place": "Select CRD mode",
    "group": "ces_group_env",
    "order": 7,
    "width": 6,
    "height": 1,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "No Export",
        "value": "no-export",
        "type": "str"
      },
      {
        "label": "No Import",
        "value": "no-import",
        "type": "str"
      },
      {
        "label": "No Exchange",
        "value": "no-exchange",
        "type": "str"
      },
      {
        "label": "No Restriction",
        "value": "no-restriction",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "crdMode",
    "topicType": "str",
    "className": "",
    "x": 150,
    "y": 330,
    "wires": [
      [
        "ces_apply_input"
      ]
    ]
  },
  {
    "id": "ces_site_export_dropdown",
    "type": "ui_dropdown",
    "z": "ces_tab",
    "name": "Site Export Mode",
    "label": "Site Export",
    "tooltip": "",
    "place": "Select site export mode",
    "group": "ces_group_env",
    "order": 8,
    "width": 6,
    "height": 1,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "No Restriction",
        "value": "no-restriction",
        "type": "str"
      },
      {
        "label": "No Export",
        "value": "no-export",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "siteExportMode",
    "topicType": "str",
    "className": "",
    "x": 150,
    "y": 370,
    "wires": [
      [
        "ces_apply_input"
      ]
    ]
  },
  {
    "id": "ces_site_export_target",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Site Export Target Import kW",
    "label": "Site Export Target Import kW",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 10,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "siteExportTargetImportKw",
    "topicType": "str",
    "min": 0,
    "max": 10,
    "step": 0.1,
    "className": "",
    "x": 180,
    "y": 410,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_site_export_deadband",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Site Export Deadband kW",
    "label": "Site Export Deadband kW",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 11,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "siteExportDeadbandKw",
    "topicType": "str",
    "min": 0,
    "max": 10,
    "step": 0.1,
    "className": "",
    "x": 170,
    "y": 450,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_scheduler_switch",
    "type": "ui_switch",
    "z": "ces_tab",
    "name": "Scheduler Enabled",
    "label": "Scheduler Enabled",
    "tooltip": "Enable scheduled meter-rule dispatch in the simulator",
    "group": "ces_group_env",
    "order": 9,
    "width": "3",
    "height": "1",
    "passthru": false,
    "decouple": "false",
    "topic": "scheduledControlEnabled",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "animate": true,
    "className": "",
    "x": 170,
    "y": 430,
    "wires": [
      [
        "ces_apply_input"
      ]
    ]
  },
  {
    "id": "ces_soc_slider",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "SOC",
    "label": "SOC",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 5,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "soc",
    "topicType": "str",
    "min": "0",
    "max": "1",
    "step": "0.01",
    "className": "",
    "x": 130,
    "y": 160,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_grid_switch",
    "type": "ui_switch",
    "z": "ces_tab",
    "name": "Grid Outage",
    "label": "Grid Outage",
    "tooltip": "",
    "group": "ces_group_env",
    "order": 6,
    "width": "3",
    "height": "1",
    "passthru": false,
    "decouple": "false",
    "topic": "gridOutage",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "animate": true,
    "className": "",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "ces_apply_input"
      ]
    ]
  },
  {
    "id": "ces_bms_switch",
    "type": "ui_switch",
    "z": "ces_tab",
    "name": "BMS Normal",
    "label": "BMS Normal",
    "tooltip": "",
    "group": "ces_group_faults",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "decouple": "false",
    "topic": "bmsNormal",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "animate": true,
    "className": "",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "ces_apply_input"
      ]
    ]
  },
  {
    "id": "ces_pcs_fault_switch",
    "type": "ui_switch",
    "z": "ces_tab",
    "name": "PCS Fault",
    "label": "PCS Fault",
    "tooltip": "",
    "group": "ces_group_faults",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "decouple": "false",
    "topic": "pcsFault",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "animate": true,
    "className": "",
    "x": 140,
    "y": 300,
    "wires": [
      [
        "ces_apply_input"
      ]
    ]
  },
  {
    "id": "ces_max_cell",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Max Cell V",
    "label": "Max Cell V",
    "tooltip": "",
    "group": "ces_group_faults",
    "order": 3,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "maxCellVoltageV",
    "topicType": "str",
    "min": "3.2",
    "max": "3.7",
    "step": "0.01",
    "className": "",
    "x": 150,
    "y": 340,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_min_cell",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Min Cell V",
    "label": "Min Cell V",
    "tooltip": "",
    "group": "ces_group_faults",
    "order": 4,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "minCellVoltageV",
    "topicType": "str",
    "min": "2.7",
    "max": "3.4",
    "step": "0.01",
    "className": "",
    "x": 150,
    "y": 380,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_batt_voltage",
    "type": "ui_text_input",
    "z": "ces_tab",
    "name": "Battery Voltage V",
    "label": "Battery Voltage V",
    "tooltip": "",
    "group": "ces_group_faults",
    "order": 5,
    "width": "6",
    "height": "1",
    "passthru": false,
    "topic": "batteryVoltageV",
    "topicType": "str",
    "min": "1000",
    "max": "1200",
    "step": "10",
    "className": "",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "ces_apply_input"
      ]
    ],
    "mode": "number",
    "delay": "300",
    "sendOnBlur": true
  },
  {
    "id": "ces_btn_reset",
    "type": "ui_button",
    "z": "ces_tab",
    "name": "Reset Simulator",
    "group": "ces_group_env",
    "order": 12,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Reset Simulator",
    "tooltip": "",
    "payload": "reset",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 160,
    "y": 480,
    "wires": [
      [
        "ces_apply_input",
        "ces_sync_controls"
      ]
    ]
  },
  {
    "id": "ces_btn_reset_history",
    "type": "ui_button",
    "z": "ces_tab",
    "name": "Clear History",
    "group": "ces_group_env",
    "order": 13,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "Clear History",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "reset-history",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 150,
    "y": 450,
    "wires": [
      [
        "ces_apply_input",
        "ces_clear_history_payload"
      ]
    ]
  },
  {
    "id": "ces_apply_input",
    "type": "function",
    "z": "ces_tab",
    "name": "Apply Simulator Input",
    "func": "const defaults = {\n  loadKw: 60,\n  pvAvailableKw: 20,\n  loadRangeKw: 10,\n  pvRangeKw: 10,\n  soc: 0.62,\n  gridOutage: false,\n  bmsNormal: true,\n  pcsFault: false,\n  maxCellVoltageV: 3.38,\n  minCellVoltageV: 3.12,\n  batteryVoltageV: 1100,\n  crdMode: 'no-export',\n  siteExportMode: 'no-restriction',\n  siteExportTargetImportKw: 0.5,\n  siteExportDeadbandKw: 0.8,\n  scheduledControlEnabled: false\n};\nlet input = Object.assign({}, defaults, flow.get('simInput') || {});\nif (msg.topic === 'scenario' && msg.payload === 'reset-history') {\n  flow.set('simHistory', []);\n  node.status({ fill: 'blue', shape: 'ring', text: 'history cleared in context' });\n  return null;\n}\nif (msg.topic === 'scenario' && msg.payload === 'reset') {\n  flow.set('simState', null);\n  flow.set('controlState', null);\n  flow.set('islandingState', { mode: 'idle' });\n  flow.set('generatorState', { mode: 'idle' });\n  input = Object.assign({}, defaults);\n} else if (msg.topic) {\n  input[msg.topic] = msg.payload;\n}\nfor (const key of ['loadKw','pvAvailableKw','loadRangeKw','pvRangeKw','soc','maxCellVoltageV','minCellVoltageV','batteryVoltageV','siteExportTargetImportKw','siteExportDeadbandKw']) input[key] = Number(input[key]);\nfor (const key of ['gridOutage','bmsNormal','pcsFault','scheduledControlEnabled']) input[key] = input[key] === true || input[key] === 'true';\nif (!['no-export','no-import','no-exchange','no-restriction'].includes(input.crdMode)) input.crdMode = 'no-export';\nif (!['no-export','no-restriction'].includes(input.siteExportMode)) input.siteExportMode = 'no-restriction';\nflow.set('simInput', input);\nmsg.payload = input;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 220,
    "wires": [
      [
        "ces_tick"
      ]
    ]
  },
  {
    "id": "ces_auto_tick",
    "type": "inject",
    "z": "ces_tab",
    "name": "1s Simulator Tick",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "tick",
    "payloadType": "str",
    "x": 170,
    "y": 560,
    "wires": [
      [
        "ces_tick"
      ]
    ]
  },
  {
    "id": "ces_tick",
    "type": "function",
    "z": "ces_tab",
    "name": "Simulate Plant + Run Controller",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.scheduler || !lib.coreControl) {\n  node.error('global lib with scheduler/coreControl is unavailable', msg);\n  return null;\n}\n\nconst input = Object.assign({ loadKw: 60, pvAvailableKw: 20, loadRangeKw: 10, pvRangeKw: 10, soc: 0.62, gridOutage: false, bmsNormal: true, pcsFault: false, maxCellVoltageV: 3.38, minCellVoltageV: 3.12, batteryVoltageV: 1100, crdMode: 'no-export', siteExportMode: 'no-restriction', siteExportTargetImportKw: 0.5, siteExportDeadbandKw: 0.8, scheduledControlEnabled: false }, flow.get('simInput') || {});\nlet s = flow.get('simState') || {\n  pcsDemandKw: 0,\n  pcsMeasuredKw: 0,\n  pcsOnOff: 1,\n  pcsRunMode: 0,\n  gridWireConnection: 0,\n  pcsGlobalState: 3,\n  pvLimitPct: 1,\n  pvLimitTargetPct: 1,\n  selInterlock: false,\n  genRelay: false,\n  generatorRunning: false,\n  generatorDelay: 0,\n  soc: input.soc,\n  loadActualKw: input.loadKw,\n  pvAvailableActualKw: input.pvAvailableKw\n};\n\nfunction clamp(x, lo, hi) { return Math.max(lo, Math.min(hi, x)); }\nfunction ramp(cur, tgt, step) { return cur + clamp(tgt - cur, -step, step); }\nfunction wander(cur, base, span, step, lo) {\n  const safeSpan = Math.max(0, Number(span) || 0);\n  if (safeSpan <= 0) return Math.max(lo, base);\n  const current = Number.isFinite(cur) ? cur : base;\n  const boundedStep = clamp(Math.max(0, Number(step) || 0), 0, safeSpan);\n  const drift = (base - current) * 0.08;\n  const noise = (Math.random() * 2 - 1) * boundedStep;\n  return clamp(current + drift + noise, Math.max(lo, base - safeSpan), base + safeSpan);\n}\nfunction pcsOnOffLabel(v) { return v === 1 ? 'ON' : v === 2 ? 'OFF' : `UNKNOWN ${v}`; }\nfunction runModeLabel(v) { return v === 0 ? 'GRID_TIE' : v === 1 ? 'STANDALONE' : `MODE_${v}`; }\nfunction gwcLabel(v) { return v === 0 ? 'GRID_TIE' : v === 1 ? 'ISLAND' : `GWC_${v}`; }\nfunction pcsGlobalStateLabel(v) {\n  switch (v) {\n    case 1: return 'STANDBY';\n    case 3: return 'GRID_TIE_NORMAL';\n    case 6: return 'STANDALONE_NORMAL';\n    case 7: return 'FAULT';\n    default: return `STATE_${v}`;\n  }\n}\nfunction bmsStatusLabel(v) { return v === 1 ? 'NORMAL' : v === 2 ? 'ABNORMAL' : `BMS_${v}`; }\nfunction applyEnvelope(env) {\n  if (!env || !Array.isArray(env.payload)) return;\n  for (const c of env.payload) {\n    switch (c.tagID) {\n      case 'SYSTEM_ACTIVE_POWER_DEMAND': s.pcsDemandKw = Number(c.value) || 0; break;\n      case 'PCS.SYSTEM_ACTIVE_POWER_DEMAND': s.pcsDemandKw = Number(c.value) || 0; break;\n      case 'SYSTEM_ON_OFF': s.pcsOnOff = Number(c.value); break;\n      case 'PCS.SYSTEM_ON_OFF': s.pcsOnOff = Number(c.value); break;\n      case 'SYSTEM_RUN_MODE': s.pcsRunMode = Number(c.value); break;\n      case 'PCS.SYSTEM_RUN_MODE': s.pcsRunMode = Number(c.value); break;\n      case 'GRID_WIRE_CONNECTION': s.gridWireConnection = Number(c.value); break;\n      case 'PCS.GRID_WIRE_CONNECTION': s.gridWireConnection = Number(c.value); break;\n      case 'SEL751.RB_1':\n      case 'SEL851.RB_1': s.selInterlock = !!c.value; break;\n      case 'SEL851.RB_2':\n      case 'RemoteIO.Generator_Start': s.genRelay = !!c.value; break;\n      case 'SolarEdge1.Dynamic_Active_Power_Limit':\n      case 'SolarEdge2.Dynamic_Active_Power_Limit': s.pvLimitTargetPct = clamp(Number(c.value), 0, 1); break;\n    }\n  }\n}\nfor (const env of flow.get('lastWriterEnvelopes') || []) applyEnvelope(env);\n\nif (s.genRelay && !s.generatorRunning) s.generatorDelay += 1;\nelse if (!s.genRelay) { s.generatorDelay = 0; s.generatorRunning = false; }\nif (s.generatorDelay >= 3) s.generatorRunning = true;\n\nif (input.pcsFault) s.pcsGlobalState = 7;\nelse if (s.pcsOnOff === 2) s.pcsGlobalState = 1;\nelse if (s.pcsRunMode === 1) s.pcsGlobalState = 6;\nelse s.pcsGlobalState = 3;\n\nconst pcsAllowed = s.pcsOnOff === 1 && !input.pcsFault && input.bmsNormal;\nconst loadBaseKw = Math.max(0, Number(input.loadKw) || 0);\nconst pvBaseKw = Math.max(0, Number(input.pvAvailableKw) || 0);\nconst loadRangeKw = Math.max(0, Number(input.loadRangeKw) || 0);\nconst pvRangeKw = Math.max(0, Number(input.pvRangeKw) || 0);\ns.loadActualKw = wander(s.loadActualKw, loadBaseKw, loadRangeKw, loadRangeKw * 0.12, 0);\ns.pvAvailableActualKw = wander(s.pvAvailableActualKw, pvBaseKw, pvRangeKw, pvRangeKw * 0.12, 0);\nconst loadActualKw = Number(s.loadActualKw.toFixed(3));\nconst pvAvailableActualKw = Number(s.pvAvailableActualKw.toFixed(3));\ns.pvLimitTargetPct = Number.isFinite(s.pvLimitTargetPct) ? clamp(s.pvLimitTargetPct, 0, 1) : 1;\ns.pvLimitPct = ramp(Number.isFinite(s.pvLimitPct) ? s.pvLimitPct : 1, s.pvLimitTargetPct, 0.05);\nconst pvActualKw = clamp(pvAvailableActualKw * s.pvLimitPct, 0, pvAvailableActualKw);\nconst standaloneMode = input.gridOutage || s.pcsRunMode === 1 || s.gridWireConnection === 1;\nconst islandBalanceKw = loadActualKw - pvActualKw;\nconst pcsTargetKw = standaloneMode ? islandBalanceKw : s.pcsDemandKw;\ns.pcsMeasuredKw = pcsAllowed ? ramp(s.pcsMeasuredKw, pcsTargetKw, 20) : ramp(s.pcsMeasuredKw, 0, 30);\nconst utilityKw = standaloneMode ? 0 : loadActualKw - pvActualKw - s.pcsMeasuredKw;\nif (msg.topic === 'soc' || !Number.isFinite(s.soc)) s.soc = clamp(Number.isFinite(input.soc) ? input.soc : s.soc, 0, 1);\ns.soc = clamp(s.soc - (s.pcsMeasuredKw / 280 / 3600), 0, 1);\n\nconst batteryVoltageV = clamp(Number(input.batteryVoltageV) || 1100, 1000, 1200);\nconst maxChargeCurrentAllowedA = input.maxCellVoltageV >= 3.57 ? 0 : -120;\nconst maxDischargeCurrentAllowedA = input.minCellVoltageV <= 2.9 ? 0 : 120;\nconst bmsStatus = input.bmsNormal ? 1 : 2;\n\nconst telemetry = {\n  Meter: [\n    { tagID: 'Meter.Utility_Total_Power', value: utilityKw },\n    { tagID: 'Meter.Load_Total_Power', value: loadActualKw },\n    { tagID: 'Meter.PV_Total_Power', value: pvActualKw },\n    { tagID: 'Meter.BESS_Total_Power', value: s.pcsMeasuredKw },\n    { tagID: 'Meter.POI_kW', value: utilityKw }\n  ],\n  PCS: [\n    { tagID: 'PCS.SYSTEM_ACTIVE_POWER_DEMAND', value: s.pcsDemandKw },\n    { tagID: 'PCS.SYSTEM_POWER_ACTIVE_ALL', value: s.pcsMeasuredKw },\n    { tagID: 'PCS.SYSTEM_ON_OFF', value: s.pcsOnOff },\n    { tagID: 'PCS.SYSTEM_RUN_MODE', value: s.pcsRunMode },\n    { tagID: 'PCS.GRID_WIRE_CONNECTION', value: s.gridWireConnection },\n    { tagID: 'PCS.SYSTEM_GLOBAL_STATE', value: s.pcsGlobalState },\n    { tagID: 'PCS.SYS_TIME_MIN_SEC', value: Math.floor(Date.now() / 1000) % 3600 }\n  ],\n  MBMU: [\n    { tagID: 'MBMU.System_SOC_pct', value: s.soc },\n    { tagID: 'MBMU.system_SOC_raw', value: s.soc },\n    { tagID: 'MBMU.System_Voltage_V', value: batteryVoltageV },\n    { tagID: 'MBMU.Max_Charge_Current_Allowed_A', value: maxChargeCurrentAllowedA },\n    { tagID: 'MBMU.Max_Discharge_Current_Allowed_A', value: maxDischargeCurrentAllowedA },\n    { tagID: 'MBMU.Max_Cell_Voltage_V', value: input.maxCellVoltageV },\n    { tagID: 'MBMU.Min_Cell_Voltage_V', value: input.minCellVoltageV },\n    { tagID: 'MBMU.BMS_Status', value: bmsStatus }\n  ],\n  SEL751: [\n    { tagID: 'SEL751.ROW_48', value: input.gridOutage ? 128 : 0 },\n    { tagID: 'SEL751.SV01T', value: input.gridOutage ? 1 : 0 },\n    { tagID: 'SEL751.RB_1', value: s.selInterlock },\n    { tagID: 'SEL751.RB_2', value: s.genRelay }\n  ],\n  SEL851: [\n    { tagID: 'SEL851.ROW_46', value: input.gridOutage ? 128 : 0 },\n    { tagID: 'SEL851.ROW_33', value: s.generatorRunning ? 4 : 8 },\n    { tagID: 'SEL851.RB_1', value: s.selInterlock },\n    { tagID: 'SEL851.RB_2', value: s.genRelay }\n  ]\n};\nglobal.set('telemetry', telemetry);\n\nconst siteConfig = {\n  system: { systemProfile: 'eSpire280', controllerTimezone: 'America/Los_Angeles', nominal: { voltageVll: 480, frequencyHz: 60 } },\n  network: { controller: { ip: '192.168.1.10', modbusServer: { ip: '192.168.1.20', port: 502 } } },\n  operation: { mode: input.gridOutage ? 'off-grid' : 'grid-tied', gridCode: 'IEEE1547-2018', crdMode: input.crdMode || 'no-export', siteExportMode: input.siteExportMode || 'no-restriction', siteExportTargetImportKw: Number(input.siteExportTargetImportKw) || 0, siteExportDeadbandKw: Number(input.siteExportDeadbandKw) || 0, scheduledControlEnabled: input.scheduledControlEnabled === true },\n  pcs: { pcsDaisyChain: [1, 1], maxChargeKw: 250, maxDischargeKw: 250 },\n  mbmu: { sbmuStrings: [2, 2] },\n  battery: { minSoc: 0.1, maxSoc: 0.95, socLow: 0.3, socLowRecover: 0.22, socHigh: 0.95, socHighRecover: 0.92, forceGridChargeSoc: 0.15, forceGridChargeMinCellVoltageV: 2.95, forceGridChargeKw: 10, powerHeadroomKw: 2, commandRampKwPerSec: 25 },\n  pv: { acInverters: [{ id: 'SolarEdge1', type: 'SolarEdge', model: 'SE60K', ratedKwAc: 60, ip: '192.168.1.201', port: 502, modbusProfile: 'solaredge_v1' }, { id: 'SolarEdge2', type: 'SolarEdge', model: 'SE60K', ratedKwAc: 60, ip: '192.168.1.202', port: 502, modbusProfile: 'solaredge_v1' }], curtailmentMethod: 'modbus' },\n  islanding: { device: 'SEL751' },\n  metering: {\n    meterType: 'sim', modbusProfile: 'sim', ip: '127.0.0.1',\n    reads: { pv: true, pvFromInverter: false, utility: true, load: true },\n    calculations: {\n      utilityPowerKw: { source: 'tag', tagID: 'Meter.POI_kW' },\n      siteLoadKw: { source: 'tag', tagID: 'Meter.Load_Total_Power' },\n      pvKw: { source: 'tag', tagID: 'Meter.PV_Total_Power' }\n    }\n  },\n  generator: { maxKw: 50, chargeFromGenerator: true, chargeKwLimit: 30, startSoc: 0.2, stopSoc: 0.9, controlType: 'SEL' }\n};\nconst plans = [{ planID: 'sim-default', default: true, strategy: { meter_rule: { discharge: { net_load_threshold: { value: 20, unit: 'kW' } }, charge: { net_load_threshold: { value: 1, unit: 'kW' } } } } }];\nconst activePlan = lib.scheduler.matchActiveSchedulePlan(plans, { now: new Date(), timezone: siteConfig.system.controllerTimezone });\nconst schedule = activePlan ? lib.scheduler.scheduleOutputFromActivePlan(activePlan) : {};\nconst scheduleDetails = {\n  selectedPlan: schedule.selectedPlan || null,\n  planID: schedule.selectedPlan?.planID || activePlan?.plan?.planID || null,\n  name: schedule.selectedPlan?.name || activePlan?.plan?.name || null,\n  reason: schedule.selectedPlan?.reason || activePlan?.selectedReason || null,\n  via: schedule.selectedPlan?.via || activePlan?.via || null,\n  isFallback: schedule.selectedPlan?.isFallback || activePlan?.isFallback || false,\n  nextTimedStart: schedule.selectedPlan?.nextTimedStart || activePlan?.nextTimedStart || null,\n  activePowerKwSetpoint: schedule.activePowerKwSetpoint ?? null,\n  reactivePowerKvarSetpoint: schedule.reactivePowerKvarSetpoint ?? null,\n  strategy: schedule.strategy || null,\n  meterRule: schedule.strategy?.meter_rule || null,\n  constraints: schedule.constraints || null\n};\nlet controlState = flow.get('controlState') || {};\nconst controlNowMs = Date.now();\nconst cycle = lib.coreControl.runUnifiedControlCycle(siteConfig, {\n  telemetry: { 'Meter.POI_kW': utilityKw, 'Meter.Load_Total_Power': loadActualKw, 'Meter.PV_Total_Power': pvActualKw },\n  baseTelemetry: {\n    soc: s.soc,\n    gridStatus: input.gridOutage ? 'island' : 'normal',\n    pcsActivePowerKw: s.pcsMeasuredKw,\n    generatorRunning: s.generatorRunning,\n    protectionState: input.gridOutage ? 'islanded' : 'normal',\n    pcsRunAllowed: true,\n    remoteInterlockClosed: true,\n    machineStatus: { batteryVoltageV, maxChargeCurrentAllowedA, maxDischargeCurrentAllowedA, maxCellVoltageV: input.maxCellVoltageV, minCellVoltageV: input.minCellVoltageV, bmsStatus, pcsGlobalState: s.pcsGlobalState }\n  },\n  schedule,\n  state: controlState,\n  nowMs: controlNowMs\n});\nflow.set('controlState', controlState);\nlet generatorState = flow.get('generatorState') || { mode: 'idle' };\nconst generator = lib.coreControl.evaluateGeneratorSequencer(siteConfig.generator, { batterySoc: s.soc, generatorRunning: s.generatorRunning, generatorAvailable: true, allowGeneratorStart: input.gridOutage === true }, generatorState);\nflow.set('generatorState', generator.state);\nconst genEnvelopes = lib.coreControl.generatorCommandsToWriterEnvelopes(siteConfig.generator, generator.commands);\nlet islandingState = flow.get('islandingState') || { mode: 'idle' };\nconst islanding = lib.coreControl.evaluateESpire280IslandingSequencer({ outageDetected: input.gridOutage, interlockClosed: s.selInterlock, pcsOnOff: s.pcsOnOff, pcsGlobalState: s.pcsGlobalState, pcsRunMode: s.pcsRunMode, gridWireConnection: s.gridWireConnection }, islandingState);\nflow.set('islandingState', islanding.state);\nconst islandEnvelopes = lib.coreControl.islandingCommandsToWriterEnvelopes(islanding.commands);\nconst pvCurtailmentAllowed = standaloneMode || input.siteExportMode === 'no-export';\nconst pvLimitTarget = cycle.command.pvActivePowerLimitPct != null\n  ? clamp(Number(cycle.command.pvActivePowerLimitPct), 0, 1)\n  : 1;\nconst pvEnvelopes = cycle.writerEnvelopes.filter(env => String(env.topic || '').startsWith('SolarEdge'));\nconst allEnvelopes = [...cycle.writerEnvelopes, ...genEnvelopes, ...islandEnvelopes];\nflow.set('lastWriterEnvelopes', allEnvelopes);\nflow.set('simState', s);\n\nmsg.payload = {\n  input,\n  plant: {\n    utilityKw,\n    loadKw: loadActualKw,\n    loadBaseKw,\n    loadRangeKw,\n    pvAvailableKw: pvAvailableActualKw,\n    pvBaseKw,\n    pvRangeKw,\n    pvActualKw,\n    pvLimitPct: s.pvLimitPct,\n    pvLimitTargetPct: s.pvLimitTargetPct,\n    standaloneMode,\n    islandBalanceKw,\n    pcsMeasuredKw: s.pcsMeasuredKw,\n    pcsDemandKw: s.pcsDemandKw,\n    soc: s.soc,\n    pcsOnOff: s.pcsOnOff,\n    pcsOnOffLabel: pcsOnOffLabel(s.pcsOnOff),\n    pcsRunMode: s.pcsRunMode,\n    pcsRunModeLabel: runModeLabel(s.pcsRunMode),\n    gridWireConnection: s.gridWireConnection,\n    gridWireConnectionLabel: gwcLabel(s.gridWireConnection),\n    pcsGlobalState: s.pcsGlobalState,\n    pcsGlobalStateLabel: pcsGlobalStateLabel(s.pcsGlobalState),\n    selInterlock: s.selInterlock,\n    generatorRunning: s.generatorRunning,\n    genRelay: s.genRelay\n  },\n  mbmu: {\n    bmsStatus,\n    bmsStatusLabel: bmsStatusLabel(bmsStatus),\n    batteryVoltageV,\n    maxChargeCurrentAllowedA,\n    maxDischargeCurrentAllowedA,\n    maxCellVoltageV: input.maxCellVoltageV,\n    minCellVoltageV: input.minCellVoltageV,\n    soc: s.soc\n  },\n  pcs: {\n    onOff: s.pcsOnOff,\n    onOffLabel: pcsOnOffLabel(s.pcsOnOff),\n    runMode: s.pcsRunMode,\n    runModeLabel: runModeLabel(s.pcsRunMode),\n    gridWireConnection: s.gridWireConnection,\n    gridWireConnectionLabel: gwcLabel(s.gridWireConnection),\n    globalState: s.pcsGlobalState,\n    globalStateLabel: pcsGlobalStateLabel(s.pcsGlobalState),\n    demandKw: s.pcsDemandKw,\n    measuredKw: s.pcsMeasuredKw\n  },\n  schedule: scheduleDetails,\n  control: { command: cycle.command, pipeline: cycle.pipeline, writerEnvelopes: cycle.writerEnvelopes },\n  generator: { state: generator.state, commands: generator.commands, reasons: generator.reasons, writerEnvelopes: genEnvelopes },\n  islanding: { step: islanding.state.mode, state: islanding.state, commands: islanding.commands, reasons: islanding.reasons, writerEnvelopes: islandEnvelopes },\n  pvCurtailment: { enabled: pvCurtailmentAllowed, targetLimitPct: pvLimitTarget, appliedLimitPct: s.pvLimitPct, requestedKw: cycle.command.pvCurtailmentKw || 0, activePowerLimitPct: cycle.command.pvActivePowerLimitPct ?? null, reasons: cycle.command.reasons.filter(r => String(r).startsWith('pv-curtailment-') || r === 'site-no-export'), writerEnvelopes: pvEnvelopes },\n  diagnostics: { historyCount: (flow.get('simHistory') || []).length, historyFile: '/data/node-red/control-sim-history.jsonl' },\n  allWriterEnvelopes: allEnvelopes\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 560,
    "wires": [
      [
        "ces_dashboard",
        "ces_trend_points",
        "ces_debug",
        "ces_history_log"
      ]
    ]
  },
  {
    "id": "ces_dashboard",
    "type": "ui_template",
    "z": "ces_tab",
    "group": "ces_group_results",
    "name": "Simulator Dashboard",
    "order": 1,
    "width": "24",
    "height": "20",
    "format": "<style>\n.ces-grid{display:grid;grid-template-columns:repeat(4,minmax(0,1fr));gap:8px;margin-bottom:10px;font-family:Arial,sans-serif}.ces-card{border:1px solid #d6d6d6;border-radius:6px;padding:8px;background:#fff}.ces-k{font-size:11px;color:#666;text-transform:uppercase}.ces-v{font-size:18px;font-weight:600}.ces-s{font-size:12px;color:#555}.ces-table{width:100%;border-collapse:collapse;font-family:Arial,sans-serif;font-size:12px;margin:8px 0}.ces-table td{border-top:1px solid #eee;padding:5px}.ces-table td:first-child{color:#666;width:42%}.ces-pre{white-space:pre-wrap;margin:0;font-family:monospace;font-size:11px;line-height:1.35}.ces-inline-pre{white-space:pre-wrap;margin:0;font-family:monospace;font-size:11px}@media(max-width:900px){.ces-grid{grid-template-columns:repeat(2,minmax(0,1fr))}}</style>\n<div>\n  <div class=\"ces-grid\">\n    <div class=\"ces-card\"><div class=\"ces-k\">Utility</div><div class=\"ces-v\">{{msg.payload.plant.utilityKw | number:1}} kW</div><div class=\"ces-s\">POI</div></div>\n    <div class=\"ces-card\"><div class=\"ces-k\">Load</div><div class=\"ces-v\">{{msg.payload.plant.loadKw | number:1}} kW</div><div class=\"ces-s\">base {{msg.payload.plant.loadBaseKw | number:0}} kW / +/- {{msg.payload.plant.loadRangeKw | number:0}}</div></div>\n    <div class=\"ces-card\"><div class=\"ces-k\">PV</div><div class=\"ces-v\">{{msg.payload.plant.pvActualKw | number:1}} kW</div><div class=\"ces-s\">base {{msg.payload.plant.pvBaseKw | number:0}} / +/- {{msg.payload.plant.pvRangeKw | number:0}} / avail {{msg.payload.plant.pvAvailableKw | number:1}} / applied {{msg.payload.plant.pvLimitPct * 100 | number:0}}% / target {{msg.payload.plant.pvLimitTargetPct * 100 | number:0}}%</div></div>\n    <div class=\"ces-card\"><div class=\"ces-k\">BESS</div><div class=\"ces-v\">{{msg.payload.plant.pcsMeasuredKw | number:1}} kW</div><div class=\"ces-s\">demand {{msg.payload.plant.pcsDemandKw | number:1}} kW</div></div>\n  </div>\n\n  <table class=\"ces-table\">\n    <tr><td>Scheduler Plan</td><td>{{msg.payload.schedule.planID || 'none'}}</td><td>State</td><td>{{msg.payload.schedule.via || 'none'}} / {{msg.payload.schedule.reason || 'none'}}</td></tr>\n    <tr><td>Fallback</td><td>{{msg.payload.schedule.isFallback}}</td><td>Next Timed Start</td><td>{{msg.payload.schedule.nextTimedStart || 'none'}}</td></tr>\n    <tr><td>Active kW Setpoint</td><td>{{msg.payload.schedule.activePowerKwSetpoint || 'none'}}</td><td>Reactive kvar Setpoint</td><td>{{msg.payload.schedule.reactivePowerKvarSetpoint || 'none'}}</td></tr>\n    <tr><td>PCS CRD Mode</td><td>{{msg.payload.input.crdMode}}</td><td>Site Export</td><td>{{msg.payload.input.siteExportMode}} / target {{msg.payload.input.siteExportTargetImportKw | number:1}} kW / db {{msg.payload.input.siteExportDeadbandKw | number:1}} kW</td></tr>\n    <tr><td>Scheduler Enabled</td><td>{{msg.payload.input.scheduledControlEnabled}}</td><td>Control Mode</td><td>{{msg.payload.control.command.controlMode}}</td></tr>\n    <tr><td>History Samples</td><td colspan=\"3\">{{msg.payload.diagnostics.historyCount}} / {{msg.payload.diagnostics.historyFile}}</td></tr>\n    <tr><td>Meter Rule</td><td colspan=\"3\"><pre class=\"ces-inline-pre\">{{msg.payload.schedule.meterRule | json}}</pre></td></tr>\n  </table>\n  <table class=\"ces-table\">\n    <tr><td>PCS On/Off</td><td>{{msg.payload.pcs.onOffLabel}} ({{msg.payload.pcs.onOff}})</td><td>PCS Global State</td><td>{{msg.payload.pcs.globalStateLabel}} ({{msg.payload.pcs.globalState}})</td></tr>\n    <tr><td>PCS Run Mode</td><td>{{msg.payload.pcs.runModeLabel}} ({{msg.payload.pcs.runMode}})</td><td>GWC</td><td>{{msg.payload.pcs.gridWireConnectionLabel}} ({{msg.payload.pcs.gridWireConnection}})</td></tr>\n    <tr><td>Standalone Mode</td><td>{{msg.payload.plant.standaloneMode}}</td><td>Island Balance</td><td>{{msg.payload.plant.islandBalanceKw | number:1}} kW</td></tr>\n    <tr><td>Sequencer Step</td><td>{{msg.payload.islanding.step}}</td><td>Sequencer Reasons</td><td>{{msg.payload.islanding.reasons | json}}</td></tr>\n    <tr><td>SEL Interlock</td><td>{{msg.payload.plant.selInterlock}}</td><td>Generator</td><td>{{msg.payload.plant.generatorRunning}} / relay {{msg.payload.plant.genRelay}}</td></tr>\n  </table>\n  <table class=\"ces-table\">\n    <tr><td>MBMU BMS Status</td><td>{{msg.payload.mbmu.bmsStatusLabel}} ({{msg.payload.mbmu.bmsStatus}})</td><td>SOC</td><td>{{msg.payload.mbmu.soc | number:3}}</td></tr>\n    <tr><td>PV Curtailment</td><td>enabled {{msg.payload.pvCurtailment.enabled}} / target {{msg.payload.pvCurtailment.targetLimitPct * 100 | number:0}}% / active-limit {{msg.payload.pvCurtailment.activePowerLimitPct * 100 | number:0}}% / applied {{msg.payload.pvCurtailment.appliedLimitPct * 100 | number:0}}%</td><td>Commanded Curtail kW</td><td>{{msg.payload.pvCurtailment.requestedKw | number:1}} kW / {{msg.payload.pvCurtailment.reasons | json}}</td></tr>\n    <tr><td>Battery Voltage</td><td>{{msg.payload.mbmu.batteryVoltageV | number:0}} V</td><td>Cell Voltage</td><td>max {{msg.payload.mbmu.maxCellVoltageV | number:3}} V / min {{msg.payload.mbmu.minCellVoltageV | number:3}} V</td></tr>\n    <tr><td>Current Limits</td><td>charge {{msg.payload.mbmu.maxChargeCurrentAllowedA | number:0}} A</td><td></td><td>discharge {{msg.payload.mbmu.maxDischargeCurrentAllowedA | number:0}} A</td></tr>\n  </table>\n  <pre class=\"ces-pre\">{{msg.payload | json}}</pre>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 760,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "ces_debug",
    "type": "debug",
    "z": "ces_tab",
    "name": "Simulator Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 600,
    "wires": []
  },
  {
    "id": "ces_trend_points",
    "type": "function",
    "z": "ces_tab",
    "name": "Build Trend Points",
    "func": "const p = msg.payload || {};\nconst plant = p.plant || {};\nconst now = Date.now();\nreturn [\n  { topic: 'Load kW', payload: plant.loadKw, timestamp: now },\n  { topic: 'PV kW', payload: plant.pvActualKw, timestamp: now },\n  { topic: 'Utility kW', payload: plant.utilityKw, timestamp: now },\n  { topic: 'BESS kW', payload: plant.pcsMeasuredKw, timestamp: now }\n];",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 500,
    "wires": [
      [
        "ces_load_chart"
      ],
      [
        "ces_pv_chart"
      ],
      [
        "ces_power_chart"
      ],
      [
        "ces_power_chart"
      ]
    ]
  },
  {
    "id": "ces_load_chart",
    "type": "ui_chart",
    "z": "ces_tab",
    "name": "Load Trend",
    "group": "ces_group_trends",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "Load kW",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 980,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "ces_pv_chart",
    "type": "ui_chart",
    "z": "ces_tab",
    "name": "PV Trend",
    "group": "ces_group_trends",
    "order": 2,
    "width": "12",
    "height": "5",
    "label": "PV kW",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#2ca02c",
      "#98df8a",
      "#1f77b4",
      "#ff7f0e",
      "#d62728",
      "#9467bd",
      "#8c564b",
      "#e377c2",
      "#7f7f7f"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 970,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "ces_power_chart",
    "type": "ui_chart",
    "z": "ces_tab",
    "name": "Utility/BESS Trend",
    "group": "ces_group_trends",
    "order": 3,
    "width": "24",
    "height": "5",
    "label": "Utility and BESS kW",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#ff7f0e",
      "#9467bd",
      "#1f77b4",
      "#2ca02c",
      "#d62728",
      "#8c564b",
      "#e377c2",
      "#7f7f7f",
      "#bcbd22"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1000,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "ces_history_log",
    "type": "function",
    "z": "ces_tab",
    "name": "Collect Simulator History",
    "func": "const p = msg.payload || {};\nconst sample = {\n  ts: new Date().toISOString(),\n  input: p.input,\n  plant: p.plant,\n  mbmu: p.mbmu,\n  pcs: p.pcs,\n  schedule: p.schedule,\n  control: {\n    command: p.control && p.control.command,\n    pipelineBlocked: p.control && p.control.pipeline && p.control.pipeline.blocked,\n    activeStageIds: p.control && p.control.pipeline && p.control.pipeline.activeStageIds,\n    warnings: p.control && p.control.pipeline && p.control.pipeline.warnings\n  },\n  generator: {\n    state: p.generator && p.generator.state,\n    commands: p.generator && p.generator.commands,\n    reasons: p.generator && p.generator.reasons\n  },\n  islanding: {\n    step: p.islanding && p.islanding.step,\n    state: p.islanding && p.islanding.state,\n    commands: p.islanding && p.islanding.commands,\n    reasons: p.islanding && p.islanding.reasons\n  },\n  pvCurtailment: p.pvCurtailment,\n  writerEnvelopes: p.allWriterEnvelopes\n};\nlet history = flow.get('simHistory') || [];\nhistory.push(sample);\nif (history.length > 900) history = history.slice(-900);\nflow.set('simHistory', history);\nnode.status({ fill: 'green', shape: 'dot', text: `${history.length} samples` });\nmsg.payload = JSON.stringify(sample);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 620,
    "wires": [
      [
        "ces_history_file"
      ]
    ]
  },
  {
    "id": "ces_history_file",
    "type": "file",
    "z": "ces_tab",
    "name": "Append Simulator History",
    "filename": "/data/node-red/control-sim-history.jsonl",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1280,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "ces_clear_history_payload",
    "type": "function",
    "z": "ces_tab",
    "name": "Clear History File Payload",
    "func": "msg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 490,
    "wires": [
      [
        "ces_clear_history_file"
      ]
    ]
  },
  {
    "id": "ces_clear_history_file",
    "type": "file",
    "z": "ces_tab",
    "name": "Clear Simulator History File",
    "filename": "/data/node-red/control-sim-history.jsonl",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 650,
    "y": 490,
    "wires": [
      []
    ]
  },
  {
    "id": "ces_init_controls",
    "type": "inject",
    "z": "ces_tab",
    "name": "Initialize Dashboard Controls",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.7,
    "topic": "init-controls",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 40,
    "wires": [
      [
        "ces_sync_controls"
      ]
    ]
  },
  {
    "id": "ces_sync_controls",
    "type": "function",
    "z": "ces_tab",
    "name": "Sync Dashboard Controls",
    "func": "const defaults = {\n  loadKw: 60,\n  pvAvailableKw: 20,\n  loadRangeKw: 10,\n  pvRangeKw: 10,\n  soc: 0.62,\n  gridOutage: false,\n  bmsNormal: true,\n  pcsFault: false,\n  maxCellVoltageV: 3.38,\n  minCellVoltageV: 3.12,\n  batteryVoltageV: 1100,\n  crdMode: 'no-export',\n  siteExportMode: 'no-restriction',\n  siteExportTargetImportKw: 0.5,\n  siteExportDeadbandKw: 0.8,\n  scheduledControlEnabled: false\n};\nconst input = msg.topic === 'scenario' && msg.payload === 'reset'\n  ? Object.assign({}, defaults)\n  : Object.assign({}, defaults, flow.get('simInput') || {});\nconst keys = [\n  'loadKw',\n  'pvAvailableKw',\n  'loadRangeKw',\n  'pvRangeKw',\n  'soc',\n  'crdMode',\n  'siteExportMode',\n  'siteExportTargetImportKw',\n  'siteExportDeadbandKw',\n  'scheduledControlEnabled',\n  'gridOutage',\n  'bmsNormal',\n  'pcsFault',\n  'maxCellVoltageV',\n  'minCellVoltageV',\n  'batteryVoltageV'\n];\nreturn keys.map(key => ({ topic: key, payload: input[key] }));",
    "outputs": 16,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 40,
    "wires": [
      [
        "ces_load_slider"
      ],
      [
        "ces_pv_slider"
      ],
      [
        "ces_load_range_slider"
      ],
      [
        "ces_pv_range_slider"
      ],
      [
        "ces_soc_slider"
      ],
      [
        "ces_crd_dropdown"
      ],
      [
        "ces_site_export_dropdown"
      ],
      [
        "ces_site_export_target"
      ],
      [
        "ces_site_export_deadband"
      ],
      [
        "ces_scheduler_switch"
      ],
      [
        "ces_grid_switch"
      ],
      [
        "ces_bms_switch"
      ],
      [
        "ces_pcs_fault_switch"
      ],
      [
        "ces_max_cell"
      ],
      [
        "ces_min_cell"
      ],
      [
        "ces_batt_voltage"
      ]
    ]
  }
]
