flows/egauge_template_smoke_test.json
[
  {
    "id": "a1f5f4c8d9b10001",
    "type": "tab",
    "label": "Keystone eGauge Template Smoke Test",
    "disabled": false,
    "info": "Compile/start/stop telemetry runtime using udt_eGauge_V1"
  },
  {
    "id": "a1f5f4c8d9b10002",
    "type": "inject",
    "z": "a1f5f4c8d9b10001",
    "name": "Compile eGauge",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"compile\",\"profileName\":\"eGauge_280_ss40k\",\"instance\":{\"equipmentId\":\"eGauge.Main\",\"serverKey\":\"EGAUGE\",\"unitId\":1}}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [["a1f5f4c8d9b10005"]]
  },
  {
    "id": "a1f5f4c8d9b10003",
    "type": "inject",
    "z": "a1f5f4c8d9b10001",
    "name": "Start eGauge",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"start\",\"equipmentId\":\"eGauge.Main\"}",
    "payloadType": "json",
    "x": 140,
    "y": 160,
    "wires": [["a1f5f4c8d9b10005"]]
  },
  {
    "id": "a1f5f4c8d9b10004",
    "type": "inject",
    "z": "a1f5f4c8d9b10001",
    "name": "Stop eGauge",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"stop\",\"equipmentId\":\"eGauge.Main\"}",
    "payloadType": "json",
    "x": 135,
    "y": 220,
    "wires": [["a1f5f4c8d9b10005"]]
  },
  {
    "id": "a1f5f4c8d9b10005",
    "type": "function",
    "z": "a1f5f4c8d9b10001",
    "name": "Telemetry Runtime",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.telemetry || typeof lib.telemetry.handleTelemetryMessage !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'telemetry API missing' });\n  return [null, null, { payload: { error: 'TELEMETRY_API_MISSING' } }];\n}\n\nconst telemetry = lib.telemetry;\nconst state = global.get('telemetryState') || telemetry.createTelemetryRuntimeState();\nconst incoming = msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload)\n  ? { ...msg, ...msg.payload }\n  : msg;\n\nconst envCfg = {\n  CompilerMaxQty: 120,\n  CompilerMaxSpan: 80,\n  CompilerMaxHole: 4,\n  PollFastMs: 250,\n  PollNormalMs: 1000,\n  PollSlowMs: 5000,\n  MAX_IN_FLIGHT: 2,\n  REQUEST_TIMEOUT_MS: 1500,\n  MODBUS_ZERO_BASED: false,\n  JITTER_MS: 0,\n  RESPECT_TAG_CLAMP: true,\n  SCALE_CLAMP_DEFAULT: false,\n  SKIP_EMPTY_SAMPLES: false\n};\n\ntry {\n  const result = telemetry.handleTelemetryMessage(\n    incoming,\n    envCfg,\n    state,\n    (o1, o2, o3) => node.send([o1 || null, o2 || null, o3 || null])\n  );\n\n  global.set('telemetryState', result.state);\n\n  const statusText = incoming.cmd || (incoming._reader ? 'reply' : 'start');\n  node.status({ fill: 'green', shape: 'dot', text: statusText });\n\n  return [result.out1 || null, result.out2 || null, result.out3 || null];\n} catch (err) {\n  node.status({ fill: 'red', shape: 'ring', text: 'runtime threw' });\n  return [null, null, { payload: { error: String(err) } }];\n}\n",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 160,
    "wires": [["a1f5f4c8d9b10006"], ["a1f5f4c8d9b10007"], ["a1f5f4c8d9b10008"]]
  },
  {
    "id": "a1f5f4c8d9b10006",
    "type": "modbus-flex-getter",
    "z": "a1f5f4c8d9b10001",
    "name": "Modbus Flex Getter",
    "showStatusActivities": false,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "a1f5f4c8d9b10009",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 690,
    "y": 100,
    "wires": [["a1f5f4c8d9b10005"], []]
  },
  {
    "id": "a1f5f4c8d9b10007",
    "type": "debug",
    "z": "a1f5f4c8d9b10001",
    "name": "Parsed Telemetry",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 180,
    "wires": []
  },
  {
    "id": "a1f5f4c8d9b10008",
    "type": "debug",
    "z": "a1f5f4c8d9b10001",
    "name": "Diagnostics",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 240,
    "wires": []
  },
  {
    "id": "a1f5f4c8d9b10009",
    "type": "modbus-client",
    "name": "eGauge Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": false,
    "tcpHost": "192.168.1.88",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 3000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true
  }
]
