flows/mbmu_280_runtime_flow.json
[
  {
    "id": "b2f5f4c8d9b10001",
    "type": "tab",
    "label": "Keystone MBMU Runtime",
    "disabled": false,
    "info": "Compile/start/stop MBMU telemetry runtime using MBMU_280_ss40k and store merged samples in global.NEW_telemetry.MBMU. Update the Modbus client host/port/unitId before use."
  },
  {
    "id": "b2f5f4c8d9b10002",
    "type": "inject",
    "z": "b2f5f4c8d9b10001",
    "name": "Compile MBMU",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"compile\",\"profileName\":\"MBMU_280_ss40k\",\"instance\":{\"equipmentId\":\"MBMU\",\"serverKey\":\"MBMU\",\"unitId\":1}}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "b2f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10003",
    "type": "inject",
    "z": "b2f5f4c8d9b10001",
    "name": "Start MBMU",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"start\",\"equipmentId\":\"MBMU\"}",
    "payloadType": "json",
    "x": 145,
    "y": 160,
    "wires": [
      [
        "b2f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10004",
    "type": "inject",
    "z": "b2f5f4c8d9b10001",
    "name": "Stop MBMU",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"stop\",\"equipmentId\":\"MBMU\"}",
    "payloadType": "json",
    "x": 140,
    "y": 220,
    "wires": [
      [
        "b2f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10010",
    "type": "inject",
    "z": "b2f5f4c8d9b10001",
    "name": "Show NEW_telemetry.MBMU",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 175,
    "y": 320,
    "wires": [
      [
        "b2f5f4c8d9b10011"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10005",
    "type": "function",
    "z": "b2f5f4c8d9b10001",
    "name": "Telemetry Runtime",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.telemetry || typeof lib.telemetry.handleTelemetryMessage !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'telemetry API missing' });\n  return [null, null, { payload: { error: 'TELEMETRY_API_MISSING' } }];\n}\n\nconst telemetry = lib.telemetry;\nconst equipmentId = 'MBMU';\nconst state = flow.get('mbmuTelemetryState') || telemetry.createTelemetryRuntimeState();\nconst incoming = msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload)\n  ? { ...msg, ...msg.payload }\n  : msg;\n\nconst store = global.get('NEW_telemetry') || {};\nif (!Array.isArray(store[equipmentId])) {\n  store[equipmentId] = [];\n  global.set('NEW_telemetry', store);\n}\n\nconst asNodeRedMsg = (value) => {\n  if (value == null) return null;\n  if (typeof value === 'object' && !Array.isArray(value) && Object.prototype.hasOwnProperty.call(value, 'payload')) {\n    return value;\n  }\n  return { payload: value };\n};\n\nconst envCfg = {\n  CompilerMaxQty: 120,\n  CompilerMaxSpan: 80,\n  CompilerMaxHole: 4,\n  PollFastMs: 250,\n  PollNormalMs: 1000,\n  PollSlowMs: 5000,\n  MAX_IN_FLIGHT: 8,\n  REQUEST_TIMEOUT_MS: 1500,\n  MODBUS_ZERO_BASED: false,\n  JITTER_MS: 0,\n  RESPECT_TAG_CLAMP: true,\n  SCALE_CLAMP_DEFAULT: false,\n  SKIP_EMPTY_SAMPLES: false\n};\n\ntry {\n  const result = telemetry.handleTelemetryMessage(\n    incoming,\n    envCfg,\n    state,\n    (o1, o2, o3) => node.send([asNodeRedMsg(o1), asNodeRedMsg(o2), asNodeRedMsg(o3)])\n  );\n\n  flow.set('mbmuTelemetryState', result.state);\n\n  const statusText = incoming.cmd || (incoming._reader ? 'reply' : 'start');\n  node.status({ fill: 'green', shape: 'dot', text: statusText });\n\n  return [asNodeRedMsg(result.out1), asNodeRedMsg(result.out2), asNodeRedMsg(result.out3)];\n} catch (err) {\n  node.status({ fill: 'red', shape: 'ring', text: 'runtime threw' });\n  return [null, null, { payload: { error: String(err) } }];\n}\n",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 160,
    "wires": [
      [
        "b2f5f4c8d9b10006"
      ],
      [
        "b2f5f4c8d9b10007",
        "b2f5f4c8d9b10012"
      ],
      [
        "b2f5f4c8d9b10008"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10006",
    "type": "modbus-flex-getter",
    "z": "b2f5f4c8d9b10001",
    "name": "MBMU Modbus Getter",
    "showStatusActivities": false,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "b2f5f4c8d9b10009",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 700,
    "y": 100,
    "wires": [
      [
        "b2f5f4c8d9b10005"
      ],
      []
    ]
  },
  {
    "id": "b2f5f4c8d9b10007",
    "type": "function",
    "z": "b2f5f4c8d9b10001",
    "name": "Store NEW_telemetry.MBMU",
    "func": "const equipmentName = 'MBMU';\nconst incoming = Array.isArray(msg.payload) ? msg.payload : [];\nconst store = global.get('NEW_telemetry') || {};\nconst current = Array.isArray(store[equipmentName]) ? store[equipmentName] : [];\nconst byTag = {};\n\nconst toIsoTs = (value) => {\n  if (typeof value === 'string' && value.trim()) {\n    const parsed = new Date(value);\n    if (!Number.isNaN(parsed.getTime())) {\n      return parsed.toISOString();\n    }\n  }\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return new Date(value).toISOString();\n  }\n  return new Date().toISOString();\n};\n\nfor (const sample of current) {\n  if (sample && sample.tagID) {\n    byTag[sample.tagID] = sample;\n  }\n}\n\nfor (const sample of incoming) {\n  if (!sample || !sample.tagID) continue;\n  const tagID = sample.tagID.startsWith(equipmentName + '.')\n    ? sample.tagID\n    : equipmentName + '.' + sample.tagID;\n\n  byTag[tagID] = {\n    tagID,\n    value: sample.value,\n    timestamp: toIsoTs(sample.timestamp),\n    alarm: sample.alarm || 'No',\n    supportingTag: sample.supportingTag || 'No'\n  };\n\n  if (sample.enumLabel !== undefined) byTag[tagID].enumLabel = sample.enumLabel;\n  if (sample.activeBits !== undefined) byTag[tagID].activeBits = sample.activeBits;\n  if (sample.activeLabels !== undefined) byTag[tagID].activeLabels = sample.activeLabels;\n  if (sample.rawValue !== undefined) byTag[tagID].rawValue = sample.rawValue;\n}\n\nstore[equipmentName] = Object.values(byTag).sort((a, b) => a.tagID.localeCompare(b.tagID));\nglobal.set('NEW_telemetry', store);\n\nmsg.payload = {\n  equipment: equipmentName,\n  count: store[equipmentName].length,\n  NEW_telemetry: store[equipmentName]\n};\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 160,
    "wires": [
      [
        "b2f5f4c8d9b10013"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10008",
    "type": "debug",
    "z": "b2f5f4c8d9b10001",
    "name": "Diagnostics",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 240,
    "wires": []
  },
  {
    "id": "b2f5f4c8d9b10011",
    "type": "function",
    "z": "b2f5f4c8d9b10001",
    "name": "Read NEW_telemetry.MBMU",
    "func": "const store = global.get('NEW_telemetry') || {};\nmsg.payload = {\n  equipment: 'MBMU',\n  NEW_telemetry: Array.isArray(store.MBMU) ? store.MBMU : []\n};\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 320,
    "wires": [
      [
        "b2f5f4c8d9b10013"
      ]
    ]
  },
  {
    "id": "b2f5f4c8d9b10012",
    "type": "debug",
    "z": "b2f5f4c8d9b10001",
    "name": "Parsed MBMU Samples",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 100,
    "wires": []
  },
  {
    "id": "b2f5f4c8d9b10013",
    "type": "debug",
    "z": "b2f5f4c8d9b10001",
    "name": "NEW_telemetry.MBMU",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 160,
    "wires": []
  },
  {
    "id": "b2f5f4c8d9b10009",
    "type": "modbus-client",
    "name": "MBMU Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": false,
    "tcpHost": "CHANGE_ME_MBMU_IP",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 3000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true
  }
]
