flows/pcs_writer_active_power_smoke_test.json
[
  {
    "id": "d3f5f4c8d9b10001",
    "type": "tab",
    "label": "PCS Writer Active Power Smoke Test",
    "disabled": false,
    "info": "Compile the TypeScript writer runtime for Delta_280_ss40k and send writes to PCS.SYSTEM_ACTIVE_POWER_DEMAND. Update the Modbus client host/port/unitId before use.\n\nRecommended sequence:\n1. Set PCS Modbus client IP/port/unitId\n2. Press Compile PCS Writer\n3. Press one of the write injects (25 kW / -25 kW / 0 kW)\n4. Watch Write Requests / Modbus Write Result / Diagnostics"
  },
  {
    "id": "d3f5f4c8d9b10002",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Compile PCS Writer",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"compile\",\"profileName\":\"Delta_280_ss40k\",\"instance\":{\"equipmentId\":\"PCS\",\"serverKey\":\"PCS\",\"unitId\":1}}",
    "payloadType": "json",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "d3f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10003",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Write +25 kW",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "25",
    "payloadType": "num",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "d3f5f4c8d9b10004"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10006",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Write -25 kW",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "-25",
    "payloadType": "num",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "d3f5f4c8d9b10004"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10007",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Write 0 kW",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 145,
    "y": 320,
    "wires": [
      [
        "d3f5f4c8d9b10004"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10004",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Build Active Power Write",
    "func":"const value = Number(msg.payload);\nif (!Number.isFinite(value)) {\n  return [null, { payload: { error: 'invalid-active-power-value', value: msg.payload } }];\n}\n\nreturn [{\n  payload: {\n    cmd: 'write',\n    topic: 'PCS',\n    payload: [\n      {\n        tagID: 'SYSTEM_ACTIVE_POWER_DEMAND',\n        value\n      }\n    ]\n  }\n}, null];\n",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 260,
    "wires": [
      [
        "d3f5f4c8d9b10005"
      ],
      [
        "d3f5f4c8d9b10010"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10005",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Writer Runtime",
    "func":"const lib = global.get('lib');\nif (!lib || !lib.writer || typeof lib.writer.handleWriterMessage !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'writer API missing' });\n  return [null, null, { payload: { error: 'WRITER_API_MISSING' } }];\n}\n\nconst writer = lib.writer;\nconst state = flow.get('pcsWriterSmokeState') || writer.createWriterRuntimeState();\nconst incoming = msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload)\n  ? { ...msg, ...msg.payload }\n  : msg;\n\nconst asNodeRedMsg = (value) => {\n  if (value == null) return null;\n  if (typeof value === 'object' && !Array.isArray(value) && Object.prototype.hasOwnProperty.call(value, 'payload')) {\n    return value;\n  }\n  return { payload: value };\n};\n\nconst emittedWrites = [];\nconst envCfg = {\n  MODBUS_ZERO_BASED: false,\n  maxRegistersPerFrame: 120,\n  maxCoilsPerFrame: 120\n};\n\ntry {\n  const result = writer.handleWriterMessage(\n    incoming,\n    envCfg,\n    state,\n    (o1) => {\n      if (o1 != null) emittedWrites.push(asNodeRedMsg(o1));\n    }\n  );\n\n  flow.set('pcsWriterSmokeState', result.state);\n  node.status({ fill: 'green', shape: 'dot', text: incoming.cmd || 'write' });\n\n  return [\n    emittedWrites.length ? emittedWrites : null,\n    emittedWrites.length ? { payload: emittedWrites } : null,\n    asNodeRedMsg(result.out3)\n  ];\n} catch (err) {\n  node.status({ fill: 'red', shape: 'ring', text: 'runtime threw' });\n  return [null, null, { payload: { error: String(err) } }];\n}\n",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 180,
    "wires": [
      [
        "d3f5f4c8d9b10008",
        "d3f5f4c8d9b10011"
      ],
      [
        "d3f5f4c8d9b10009"
      ],
      [
        "d3f5f4c8d9b10010"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10008",
    "type": "modbus-flex-write",
    "z": "d3f5f4c8d9b10001",
    "name": "PCS Modbus Writer",
    "showStatusActivities": false,
    "showErrors": true,
    "showWarnings": true,
    "server": "d3f5f4c8d9b10012",
    "emptyMsgOnFail": false,
    "keepMsgProperties": true,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 980,
    "y": 140,
    "wires": [
      [
        "d3f5f4c8d9b10013"
      ],
      [
        "d3f5f4c8d9b10010"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10009",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Write Requests",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 200,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10010",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Diagnostics",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 260,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10011",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Outgoing Writer Msg",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 80,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10013",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Modbus Write Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 140,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10012",
    "type": "modbus-client",
    "name": "PCS Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": false,
    "tcpHost": "CHANGE_ME_PCS_IP",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 3000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true
  }
]
