flows/scheduler_unified_control_smoke_test.json
[
  {
    "id": "sched_uc_tab",
    "type": "tab",
    "label": "Scheduler + Unified Control Smoke",
    "disabled": false,
    "info": "Read-only smoke test for Node-RED schedule payloads and unified control-cycle preview. Requires global.get(\"lib\") to point at /data-internal/dist."
  },
  {
    "id": "sched_uc_inject_offpeak",
    "type": "inject",
    "z": "sched_uc_tab",
    "name": "May 4 2026 Off Peak",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"now\":\"2026-05-04T19:00:00.000Z\",\"label\":\"off-peak weekday\"}",
    "payloadType": "json",
    "x": 180,
    "y": 120,
    "wires": [
      [
        "sched_uc_preview"
      ]
    ]
  },
  {
    "id": "sched_uc_inject_peak",
    "type": "inject",
    "z": "sched_uc_tab",
    "name": "May 4 2026 Peak",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"now\":\"2026-05-04T23:30:00.000Z\",\"label\":\"peak weekday\"}",
    "payloadType": "json",
    "x": 170,
    "y": 180,
    "wires": [
      [
        "sched_uc_preview"
      ]
    ]
  },
  {
    "id": "sched_uc_inject_postpeak",
    "type": "inject",
    "z": "sched_uc_tab",
    "name": "May 4 2026 Post Peak",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"now\":\"2026-05-05T04:30:00.000Z\",\"label\":\"post-peak weekday\"}",
    "payloadType": "json",
    "x": 180,
    "y": 240,
    "wires": [
      [
        "sched_uc_preview"
      ]
    ]
  },
  {
    "id": "sched_uc_inject_default",
    "type": "inject",
    "z": "sched_uc_tab",
    "name": "Fallback Window",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"now\":\"2026-08-04T19:00:00.000Z\",\"label\":\"fallback outside fixture months\"}",
    "payloadType": "json",
    "x": 150,
    "y": 300,
    "wires": [
      [
        "sched_uc_preview"
      ]
    ]
  },
  {
    "id": "sched_uc_preview",
    "type": "function",
    "z": "sched_uc_tab",
    "name": "Select Schedule + Preview Control Cycle",
    "func": "const lib = global.get(\"lib\");\nif (!lib || !lib.scheduler || !lib.coreControl) {\n    node.error(\"global lib with scheduler and coreControl modules is not available\", msg);\n    return null;\n}\n\nconst schedulePlans = [\n    {\n        timed: [{\n            planID: \"5_off_peak_weekday\",\n            cron: \"0 0 * MAY MON,TUE,WED,THU,FRI\",\n            default: false,\n            description: \"5_off-peak_weekday_strategy\",\n            duration: { unit: \"minutes\", value: 959 },\n            name: \"5_off-peak_weekday_strategy\",\n            start: \"2026-05-01T00:00:00\",\n            strategy: {\n                meter_rule: {\n                    discharge: { net_load_threshold: { value: 25.86717843502316, unit: \"kW\" } },\n                    charge: { net_load_threshold: { value: 19.40038382626737, unit: \"kW\" } }\n                }\n            },\n            until: \"2026-05-31T15:59:00\",\n            constraints: {\n                min_soc: { value: 50, unit: \"%\" },\n                max_soc: { value: 95, unit: \"%\" },\n                max_charge_power: { value: 100, unit: \"%\" },\n                max_discharge_power: { value: 100, unit: \"%\" }\n            },\n            version: \"3.0\"\n        }]\n    },\n    {\n        timed: [{\n            planID: \"5_peak_weekday\",\n            cron: \"0 16 * MAY MON,TUE,WED,THU,FRI\",\n            default: false,\n            description: \"5_peak_weekday_strategy\",\n            duration: { unit: \"minutes\", value: 299 },\n            name: \"5_peak_weekday_strategy\",\n            start: \"2026-05-01T16:00:00\",\n            strategy: {\n                meter_rule: {\n                    discharge: { net_load_threshold: { value: 5.16, unit: \"kW\" } },\n                    charge: { net_load_threshold: { value: -999999, unit: \"kW\" } }\n                }\n            },\n            until: \"2026-05-31T20:59:00\",\n            constraints: {\n                min_soc: { value: 50, unit: \"%\" },\n                max_soc: { value: 95, unit: \"%\" },\n                max_charge_power: { value: 100, unit: \"%\" },\n                max_discharge_power: { value: 100, unit: \"%\" }\n            },\n            version: \"3.0\"\n        }]\n    },\n    {\n        timed: [{\n            planID: \"5_post_peak_weekday\",\n            cron: \"0 21 * MAY MON,TUE,WED,THU,FRI\",\n            default: false,\n            description: \"5_post-peak_weekday_strategy\",\n            duration: { unit: \"minutes\", value: 179 },\n            name: \"5_post-peak_weekday_strategy\",\n            start: \"2026-05-01T21:00:00\",\n            strategy: {\n                meter_rule: {\n                    discharge: { net_load_threshold: { value: 25.86717843502316, unit: \"kW\" } },\n                    charge: { net_load_threshold: { value: 19.40038382626737, unit: \"kW\" } }\n                }\n            },\n            until: \"2026-05-31T23:59:00\",\n            constraints: {\n                min_soc: { value: 50, unit: \"%\" },\n                max_soc: { value: 95, unit: \"%\" },\n                max_charge_power: { value: 100, unit: \"%\" },\n                max_discharge_power: { value: 100, unit: \"%\" }\n            },\n            version: \"3.0\"\n        }]\n    },\n    {\n        planID: \"default_command\",\n        cron: \"0 0 * * *\",\n        default: true,\n        description: \"Default command configuration\",\n        duration: { unit: \"minutes\", value: \"\" },\n        name: \"Default Command\",\n        start: \"2025-10-23T10:23:00\",\n        strategy: {\n            meter_rule: {\n                discharge: { net_load_threshold: { value: 85, unit: \"kW\" } },\n                charge: { net_load_threshold: { value: 0, unit: \"kW\" } }\n            }\n        },\n        until: \"\",\n        constraints: {\n            min_soc: { value: 50, unit: \"%\" },\n            max_soc: { value: 95, unit: \"%\" },\n            max_charge_power: { value: 100, unit: \"%\" },\n            max_discharge_power: { value: 100, unit: \"%\" }\n        }\n    }\n];\n\nconst siteConfig = {\n    system: {\n        systemProfile: \"eSpire280\",\n        controllerTimezone: \"America/Los_Angeles\",\n        nominal: { voltageVll: 480, frequencyHz: 60 }\n    },\n    network: {\n        controller: {\n            ip: \"192.168.1.10\",\n            modbusServer: { ip: \"192.168.1.20\", port: 502 }\n        }\n    },\n    operation: {\n        mode: \"grid-tied\",\n        gridCode: \"IEEE1547-2018\",\n        crdMode: \"no-export\",\n        scheduledControlEnabled: true\n    },\n    pcs: { pcsDaisyChain: [1, 1], maxChargeKw: 250, maxDischargeKw: 250 },\n    mbmu: { sbmuStrings: [2, 2] },\n    battery: { minSoc: 0.1, maxSoc: 0.95, socLow: 0.3, socLowRecover: 0.22, socHigh: 0.95, socHighRecover: 0.92, forceGridChargeSoc: 0.15, forceGridChargeMinCellVoltageV: 2.95, forceGridChargeKw: 10, powerHeadroomKw: 2, commandRampKwPerSec: 25 },\n    pv: { acInverters: [], curtailmentMethod: null },\n    metering: {\n        meterType: \"eGauge-4015\",\n        modbusProfile: \"udt_eGauge_V1\",\n        ip: \"192.168.1.88\",\n        reads: { pv: false, pvFromInverter: false, utility: true, load: true },\n        calculations: {\n            utilityPowerKw: { source: \"tag\", tagID: \"UTILITY_KW\" },\n            siteLoadKw: { source: \"tag\", tagID: \"LOAD_KW\" },\n            pvKw: { source: \"tag\", tagID: \"PV_KW\" }\n        }\n    }\n};\n\nconst now = msg.payload && msg.payload.now ? msg.payload.now : new Date().toISOString();\nconst activePlan = lib.scheduler.matchActiveSchedulePlan(schedulePlans, {\n    now,\n    timezone: siteConfig.system.controllerTimezone\n});\nconst schedule = activePlan ? lib.scheduler.scheduleOutputFromActivePlan(activePlan) : {};\nconst cycle = lib.coreControl.runUnifiedControlCycle(siteConfig, {\n    telemetry: {\n        UTILITY_KW: 12,\n        LOAD_KW: 30,\n        PV_KW: 0\n    },\n    baseTelemetry: {\n        soc: 0.62,\n        gridStatus: \"normal\",\n        realtimeActivePowerKwRequest: 0\n    },\n    schedule\n});\n\nmsg.payload = {\n    input: msg.payload,\n    selectedPlan: schedule.selectedPlan,\n    strategy: schedule.strategy,\n    constraints: schedule.constraints,\n    command: cycle.command,\n    writerEnvelopes: cycle.writerEnvelopes,\n    pipeline: cycle.pipeline,\n    diagnostics: cycle.diagnostics\n};\nmsg.topic = \"scheduler-unified-control-preview\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 210,
    "wires": [
      [
        "sched_uc_debug"
      ]
    ]
  },
  {
    "id": "sched_uc_debug",
    "type": "debug",
    "z": "sched_uc_tab",
    "name": "Scheduler + Control Preview",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 210,
    "wires": []
  }
]
