flows/schedule_realtime_api_flow.json
[
  {
    "id": "sched_api_tab",
    "type": "tab",
    "label": "ESR Schedule + Realtime API",
    "disabled": false,
    "info": "Compatibility API for the Schedule UI. Mirrors the live ESR Schedule Control and Realtime API flows, while also publishing schedules to global.schedulePlans for unified control."
  },
  {
    "id": "sched_api_esr_http",
    "type": "http in",
    "z": "sched_api_tab",
    "name": "HTTP POST /api/esr",
    "url": "/api/esr",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "sched_api_esr_handler"
      ]
    ]
  },
  {
    "id": "sched_api_esr_handler",
    "type": "function",
    "z": "sched_api_tab",
    "name": "Parse & Handle ESR",
    "func": "function parseBody(input) {\n  let body = input;\n  if (body && body.type === 'Buffer' && Array.isArray(body.data)) {\n    try { body = Buffer.from(body.data).toString('utf8'); } catch (e) {}\n  }\n  if (typeof body === 'string') {\n    try { body = JSON.parse(body); }\n    catch (e) {\n      try {\n        const probe = JSON.parse(`{\"${body}\":\"\"}`);\n        const keys = Object.keys(probe);\n        if (keys.length === 1 && /^[\\[{]/.test(keys[0])) body = JSON.parse(keys[0]);\n      } catch (e2) {}\n    }\n  }\n  if (typeof body === 'object' && body && !Array.isArray(body)) {\n    const keys = Object.keys(body);\n    if (keys.length === 1 && /^[\\[{]/.test(keys[0])) {\n      try { body = JSON.parse(keys[0]); } catch (e3) {}\n    }\n  }\n  return body;\n}\n\nfunction normalizeToGroupArray(input) {\n  if (Array.isArray(input)) return input;\n  if (input && Array.isArray(input.timed)) return [input];\n  if (input && input.data && Array.isArray(input.data)) return input.data;\n  if (input && input.data && Array.isArray(input.data.plans)) return input.data.plans;\n  if (input && Array.isArray(input.plans)) return input.plans;\n  return [];\n}\n\nfunction numericValue(value) {\n  const raw = value && typeof value === 'object' && 'value' in value ? value.value : value;\n  const n = Number(String(raw ?? '').replace(/[^0-9+-.]/g, '').trim());\n  return Number.isFinite(n) ? n : undefined;\n}\n\nfunction normalizeConstraints(input) {\n  const c = input || {};\n  const minSoc = numericValue(c.min_soc) ?? 0;\n  const maxSoc = numericValue(c.max_soc) ?? 100;\n  const maxCharge = numericValue(c.max_charge_power) ?? 100;\n  const maxDischarge = numericValue(c.max_discharge_power) ?? 100;\n  return {\n    ...c,\n    min_soc: { value: Math.max(0, Math.min(100, minSoc)), unit: '%' },\n    max_soc: { value: Math.max(0, Math.min(100, maxSoc)), unit: '%' },\n    max_charge_power: { value: Math.max(0, Math.min(100, maxCharge)), unit: '%' },\n    max_discharge_power: { value: Math.max(0, Math.min(100, maxDischarge)), unit: '%' }\n  };\n}\n\nfunction validateAndSanitizeGroups(groupsIn) {\n  const supportedPv = new Set(['SelfConsumption', 'GridSupplement', 'Off', 'GridSell', 'ReserveBattery', 'NoChange']);\n  const errors = [];\n  const warnings = [];\n  const groups = JSON.parse(JSON.stringify(groupsIn || []));\n\n  for (let gi = 0; gi < groups.length; gi += 1) {\n    const group = groups[gi];\n    if (!group || typeof group !== 'object') {\n      errors.push(`group[${gi}] is not an object`);\n      continue;\n    }\n    if (!Array.isArray(group.timed)) {\n      errors.push(`group[${gi}].timed missing/invalid`);\n      group.timed = [];\n    }\n    for (let pi = 0; pi < group.timed.length; pi += 1) {\n      const plan = group.timed[pi] || {};\n      const path = `group[${gi}].timed[${pi}]`;\n      if (!plan.planID) errors.push(`${path}: missing planID`);\n\n      if (plan.time && (plan.time.start || plan.time.end)) {\n        const start = new Date(plan.time.start);\n        const end = new Date(plan.time.end);\n        if (isNaN(start.getTime())) errors.push(`${path}.time.start invalid`);\n        if (isNaN(end.getTime())) errors.push(`${path}.time.end invalid`);\n        if (!isNaN(start.getTime()) && !isNaN(end.getTime()) && end <= start) errors.push(`${path}: time.end <= time.start`);\n      } else {\n        if (!plan.cron || String(plan.cron).trim().split(/\\s+/).length !== 5) errors.push(`${path}.cron must have 5 fields`);\n        const duration = Number(plan?.duration?.value ?? plan.duration);\n        if (!Number.isFinite(duration) || duration < 1) errors.push(`${path}.duration.value must be minutes >= 1`);\n        else plan.duration = { unit: 'minutes', value: Math.trunc(duration) };\n      }\n\n      if (plan.start && isNaN(new Date(plan.start).getTime())) errors.push(`${path}.start invalid`);\n      if (plan.until && isNaN(new Date(plan.until).getTime())) errors.push(`${path}.until invalid`);\n\n      plan.constraints = normalizeConstraints(plan.constraints);\n      if (numericValue(plan.constraints.min_soc) >= numericValue(plan.constraints.max_soc)) {\n        errors.push(`${path}: constraints.min_soc >= max_soc`);\n      }\n\n      const strategy = plan.strategy || {};\n      if (!strategy.meter_rule && !strategy.pv_rule && plan.activePowerKwSetpoint == null && plan.setpoint?.activePowerKw == null) {\n        errors.push(`${path}: strategy or active setpoint is required`);\n      }\n      if (strategy.pv_rule) {\n        const name = String(strategy.pv_rule.name || '').trim();\n        if (!name) errors.push(`${path}: pv_rule.name missing`);\n        else if (!supportedPv.has(name)) errors.push(`${path}: pv_rule.name '${name}' not supported`);\n      }\n      for (const side of ['charge', 'discharge']) {\n        const branch = strategy.meter_rule && strategy.meter_rule[side];\n        if (!branch) continue;\n        const keys = ['net_load_threshold', 'net_load_threshold_percent', 'fixed_output'].filter((key) => branch[key] != null);\n        if (keys.length > 1) errors.push(`${path}: meter_rule.${side} mixes control types`);\n        if (branch.net_load_threshold) branch.net_load_threshold = { unit: 'kW', value: numericValue(branch.net_load_threshold) };\n        if (branch.fixed_output) branch.fixed_output = { unit: branch.fixed_output.unit || '%', value: numericValue(branch.fixed_output) };\n      }\n      plan.strategy = strategy;\n      plan.default = plan.default === true || String(plan.default).toLowerCase() === 'true';\n    }\n  }\n\n  return { ok: errors.length === 0, errors, warnings, groupsSanitized: groups };\n}\n\nfunction flattenPlans(groups) {\n  const flat = [];\n  for (const group of groups || []) {\n    for (const plan of Array.isArray(group?.timed) ? group.timed : []) {\n      const meter = plan?.strategy?.meter_rule || {};\n      const charge = meter.charge || {};\n      const discharge = meter.discharge || {};\n      let type = 'Unknown';\n      if (discharge.fixed_output) type = 'Discharge';\n      else if (charge.fixed_output) type = 'Charge';\n      else if (discharge.net_load_threshold) type = 'DischargeThreshold';\n      else if (charge.net_load_threshold) type = 'ChargeThreshold';\n      flat.push({\n        planID: plan.planID || 'unknown',\n        name: plan.name || 'Unnamed',\n        description: plan.description || '',\n        default: !!plan.default,\n        runState: plan.runState || 'Idle',\n        duration: Number(plan?.duration?.value ?? plan.duration ?? 0) || 0,\n        start: plan.start || '',\n        until: plan.until || '',\n        time: plan.time || undefined,\n        cron: plan.cron || '',\n        type,\n        fixed_output: discharge.fixed_output || charge.fixed_output || undefined,\n        net_load_threshold: { charge: charge.net_load_threshold, discharge: discharge.net_load_threshold },\n        net_load_threshold_percent: { charge: charge.net_load_threshold_percent, discharge: discharge.net_load_threshold_percent },\n        min_soc: plan?.constraints?.min_soc,\n        max_soc: plan?.constraints?.max_soc,\n        max_charge_power: plan?.constraints?.max_charge_power,\n        max_discharge_power: plan?.constraints?.max_discharge_power,\n        constraints: plan.constraints || {},\n        strategy: plan.strategy || {},\n        activePowerKwSetpoint: plan.activePowerKwSetpoint,\n        setpoint: plan.setpoint,\n        exclude_holidays: plan.exclude_holidays || null\n      });\n    }\n  }\n  return flat;\n}\n\nfunction publishPlans(groups) {\n  flow.set('plans', groups);\n  global.set('schedulePlans', groups);\n  global.set('scheduleRaw', groups);\n  global.set('scheduleUpdatedAt', new Date().toISOString());\n  const config = global.get('controlConfig') || global.get('unifiedControlConfig');\n  if (config && config.operation) {\n    config.operation.scheduledControlEnabled = true;\n    global.set('controlConfig', config);\n    global.set('unifiedControlConfig', config);\n  }\n}\n\nfunction storedControlConfig() {\n  return global.get('controlConfig') || global.get('unifiedControlConfig') || flow.get('controlConfig') || null;\n}\n\nfunction saveControlConfig(config) {\n  global.set('controlConfig', config);\n  global.set('unifiedControlConfig', config);\n  flow.set('controlConfig', config);\n}\n\nconst payload = parseBody(msg.payload) || {};\nconst method = payload.method || payload?.data?.method || payload?.action || '';\nconst response = {\n  code: 0,\n  message: 'Success',\n  version: payload.version || '1.0',\n  requestId: payload.requestId || 0,\n  timestamp: Math.floor(Date.now() / 1000),\n  data: { code: 0, message: 'Success' }\n};\n\nlet plans = flow.get('plans') || global.get('schedulePlans') || [];\n\nswitch (method) {\n  case 'GetControlConfig':\n    response.data = { config: storedControlConfig() };\n    break;\n  case 'SaveControlConfig':\n    if (!payload?.data?.config) {\n      response.code = -5;\n      response.message = 'Missing config';\n      response.data = { code: -5, message: 'Missing config' };\n      break;\n    }\n    saveControlConfig(payload.data.config);\n    response.data = { code: 0, message: 'OK' };\n    break;\n  case 'Append': {\n    const groups = normalizeToGroupArray(payload.data !== undefined ? payload.data : payload);\n    const valid = validateAndSanitizeGroups(groups);\n    if (!groups.length || !valid.ok) {\n      response.code = -4;\n      response.message = !groups.length ? 'No timed groups to append' : 'Validation failed';\n      response.data = { code: response.code, message: response.message, errors: valid.errors, warnings: valid.warnings };\n      break;\n    }\n    const incomingHasDefault = valid.groupsSanitized.some((group) => (group.timed || []).some((plan) => plan.default));\n    if (incomingHasDefault) {\n      plans = plans.map((group) => ({ ...group, timed: (group.timed || []).filter((plan) => !plan.default) })).filter((group) => group.timed.length);\n    }\n    plans = plans.concat(valid.groupsSanitized);\n    publishPlans(plans);\n    response.data = { code: 0, message: 'Appended', count: valid.groupsSanitized.length, warnings: valid.warnings };\n    break;\n  }\n  case 'GetList':\n    response.data = { code: 0, message: 'Success', plans: flattenPlans(plans), devices: [] };\n    break;\n  case 'Reset':\n    plans = [];\n    publishPlans(plans);\n    response.data = { code: 0, message: 'Reset', count: 0 };\n    break;\n  case 'Delete': {\n    const planID = payload?.data?.planID || payload.planID;\n    if (!planID) {\n      response.code = -3;\n      response.message = 'Missing planID';\n      response.data = { code: -3, message: 'Missing planID' };\n      break;\n    }\n    plans = plans.map((group) => ({ ...group, timed: (group.timed || []).filter((plan) => plan.planID !== planID) })).filter((group) => group.timed.length);\n    publishPlans(plans);\n    response.data = { code: 0, message: 'Deleted', planID };\n    break;\n  }\n  default: {\n    const groups = normalizeToGroupArray(payload);\n    const valid = validateAndSanitizeGroups(groups);\n    if (!groups.length || !valid.ok) {\n      response.code = -1;\n      response.message = !groups.length ? 'Unknown method or empty payload' : 'Validation failed';\n      response.data = { code: response.code, message: response.message, errors: valid.errors, warnings: valid.warnings };\n      break;\n    }\n    plans = valid.groupsSanitized;\n    publishPlans(plans);\n    response.data = { code: 0, message: 'Saved', count: plans.length, warnings: valid.warnings };\n  }\n}\n\nmsg.payload = response;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 100,
    "wires": [
      [
        "sched_api_esr_response"
      ]
    ]
  },
  {
    "id": "sched_api_esr_response",
    "type": "http response",
    "z": "sched_api_tab",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 690,
    "y": 100,
    "wires": []
  },
  {
    "id": "sched_api_rt_http",
    "type": "http in",
    "z": "sched_api_tab",
    "name": "GET /api/realtime-signals",
    "url": "/api/realtime-signals",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 220,
    "wires": [
      [
        "sched_api_rt_handler"
      ]
    ]
  },
  {
    "id": "sched_api_rt_handler",
    "type": "function",
    "z": "sched_api_tab",
    "name": "Build realtime signal payload",
    "func": "const telemetry = global.get('telemetry') || global.get('Telemetry') || global.get('latestTelemetry') || {};\nconst now = new Date();\nconst t = now.getTime() / 1000;\n\nfunction readTag(tag) {\n  if (!tag) return undefined;\n  const direct = telemetry[tag];\n  if (typeof direct === 'number') return direct;\n  if (direct && typeof direct.value === 'number') return direct.value;\n  const parts = tag.split('.');\n  let current = telemetry;\n  for (const part of parts) {\n    if (!current || typeof current !== 'object') return undefined;\n    current = current[part];\n  }\n  if (typeof current === 'number') return current;\n  if (current && typeof current.value === 'number') return current.value;\n  return undefined;\n}\n\nfunction numberOrFallback(value, fallback) {\n  return typeof value === 'number' && Number.isFinite(value) ? value : fallback;\n}\n\nconst utilityRaw = readTag('Meter.Utility_Total_Power') ?? readTag('Meter.POI_kW');\nconst pvRaw = readTag('Meter2.Solar') ?? readTag('PCS.DcPv_kW') ?? readTag('Meter.PV_Total_Power');\nconst pcsRaw = readTag('PCS.SYSTEM_POWER_ACTIVE_ALL') ?? readTag('PCS.ACBusTotalActivePower');\nconst generatorRaw = readTag('Meter.Generator_Total_Power');\nconst hasTelemetry = [utilityRaw, pvRaw, pcsRaw, generatorRaw].some((value) => typeof value === 'number');\nconst utilityPowerKw = numberOrFallback(utilityRaw, Math.round((35 + Math.sin(t / 9) * 12) * 10) / 10);\nconst pvKw = numberOrFallback(pvRaw, Math.round(Math.max(0, 18 + Math.sin(t / 7) * 18) * 10) / 10);\nconst pcsActivePowerKw = numberOrFallback(pcsRaw, Math.round(Math.sin(t / 5) * 22 * 10) / 10);\nconst siteLoadKw = Math.round((utilityPowerKw + pvKw + pcsActivePowerKw) * 10) / 10;\nconst generatorRunning = numberOrFallback(generatorRaw, 0) > 1;\n\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = {\n  data: {\n    signals: { utilityPowerKw, pvKw, pcsActivePowerKw, siteLoadKw, generatorRunning },\n    raw: {\n      'Meter.Utility_Total_Power': utilityRaw,\n      'Meter2.Solar': pvRaw,\n      'PCS.SYSTEM_POWER_ACTIVE_ALL': pcsRaw,\n      'Meter.Generator_Total_Power': generatorRaw\n    },\n    source: hasTelemetry ? 'node-red-global-telemetry' : 'node-red-test-waveform',\n    updatedAt: now.toISOString()\n  }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 220,
    "wires": [
      [
        "sched_api_rt_response"
      ]
    ]
  },
  {
    "id": "sched_api_rt_response",
    "type": "http response",
    "z": "sched_api_tab",
    "name": "Realtime response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 720,
    "y": 220,
    "wires": []
  }
]
