flows/ss40k_fixed_model_export_flow.json
[
  {
    "id": "d3f5f4c8d9b10001",
    "type": "tab",
    "label": "SS40K Fixed Model Export",
    "disabled": false,
    "info": "Build Guardian-style fixed-only MQTT payloads from global.NEW_telemetry. One output message per (equipment, ss40k.model). Update equipmentToProfile and MQTT topic/connection before using against AWS."
  },
  {
    "id": "d3f5f4c8d9b10002",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Build SS40K Lookup",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "d3f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10003",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Build SS40K MQTT Payloads",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 185,
    "y": 160,
    "wires": [
      [
        "d3f5f4c8d9b10006"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10004",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Show Lookup Cache",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 240,
    "wires": [
      [
        "d3f5f4c8d9b10009"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10005",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Build Template Lookup",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.telemetry || typeof lib.telemetry.resolveTelemetryTemplate !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'template API missing' });\n  return { payload: { error: 'TEMPLATE_API_MISSING' } };\n}\n\nconst telemetry = lib.telemetry;\n\n// Update this mapping as new product lines come online.\nconst equipmentToProfile = {\n  PCS: 'Delta_280_ss40k',\n  PCS2: 'Delta_280_ss40k',\n  PCS3: 'Delta_280_ss40k',\n  PCS4: 'Delta_280_ss40k',\n  MBMU: 'MBMU_280_ss40k',\n  Meter: 'eGauge_280_ss40k',\n  Meter2: 'eGauge_280_ss40k'\n};\n\nconst modelIndexMap = {\n  '40100': '0',\n  '40101': '1',\n  '40102': '2',\n  '40103': '3',\n  '40104': '4'\n};\n\nconst templateCache = {};\nconst lookup = {};\n\nfor (const [equipment, profileName] of Object.entries(equipmentToProfile)) {\n  let template;\n  if (templateCache[profileName]) {\n    template = templateCache[profileName];\n  } else {\n    template = telemetry.resolveTelemetryTemplate(profileName);\n    templateCache[profileName] = template;\n  }\n\n  const telemetryEntries = Array.isArray(template.telemetry) ? template.telemetry : [];\n  for (const entry of telemetryEntries) {\n    if (!entry || !entry.id || !entry.ss40k || !entry.ss40k.name || !entry.ss40k.model) continue;\n    lookup[`${equipment}.${entry.id}`] = {\n      equipment,\n      sourceTagID: `${equipment}.${entry.id}`,\n      profileName,\n      name: entry.ss40k.name,\n      model: String(entry.ss40k.model),\n      modelIndex: modelIndexMap[String(entry.ss40k.model)] || '0'\n    };\n  }\n}\n\nglobal.set('ss40kLookup', lookup);\nglobal.set('ss40kEquipmentToProfile', equipmentToProfile);\nglobal.set('ss40kModelIndexMap', modelIndexMap);\n\nnode.status({ fill: 'green', shape: 'dot', text: `${Object.keys(lookup).length} mapped tags` });\nmsg.payload = {\n  lookupCount: Object.keys(lookup).length,\n  equipmentToProfile,\n  modelIndexMap,\n  sample: Object.fromEntries(Object.entries(lookup).slice(0, 10))\n};\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 80,
    "wires": [
      [
        "d3f5f4c8d9b10007"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10006",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Build Fixed Payloads",
    "func": "const lookup = global.get('ss40kLookup') || {};\nconst newTelemetry = global.get('NEW_telemetry') || {};\nif (!Object.keys(lookup).length) {\n  node.status({ fill: 'yellow', shape: 'ring', text: 'lookup missing' });\n  return [null, { payload: { error: 'SS40K_LOOKUP_MISSING' } }, null];\n}\n\nconst groups = {};\n\nfor (const [equipment, samples] of Object.entries(newTelemetry)) {\n  if (!Array.isArray(samples)) continue;\n  for (const sample of samples) {\n    if (!sample || !sample.tagID) continue;\n    const meta = lookup[sample.tagID];\n    if (!meta) continue;\n\n    const groupKey = `${meta.equipment}::${meta.model}`;\n    if (!groups[groupKey]) {\n      groups[groupKey] = {\n        equipment: meta.equipment,\n        model: meta.model,\n        modelIndex: meta.modelIndex,\n        version: '2.0',\n        latestTimestamp: null,\n        fixed: {}\n      };\n    }\n\n    groups[groupKey].fixed[meta.name] = sample.value;\n\n    if (sample.timestamp) {\n      const iso = typeof sample.timestamp === 'string' ? sample.timestamp : new Date(sample.timestamp).toISOString();\n      if (!groups[groupKey].latestTimestamp || iso > groups[groupKey].latestTimestamp) {\n        groups[groupKey].latestTimestamp = iso;\n      }\n    }\n  }\n}\n\nconst messages = Object.values(groups)\n  .sort((a, b) => `${a.equipment}.${a.model}`.localeCompare(`${b.equipment}.${b.model}`))\n  .map((group) => {\n    const payload = {\n      [group.modelIndex]: {\n        fixed: group.fixed,\n        id: Number(group.model),\n        version: group.version\n      }\n    };\n\n    return {\n      topic: `fort/v1/things/CHANGE_ME_GSN/telem`,\n      payload,\n      ss40k: {\n        equipment: group.equipment,\n        model: group.model,\n        modelIndex: group.modelIndex,\n        timestamp: group.latestTimestamp,\n        pointCount: Object.keys(group.fixed).length\n      }\n    };\n  });\n\nnode.status({ fill: 'green', shape: 'dot', text: `${messages.length} payloads` });\nreturn [messages, null, { payload: messages.map((msg) => msg.ss40k) }];\n",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 160,
    "wires": [
      [
        "d3f5f4c8d9b10008",
        "d3f5f4c8d9b10010"
      ],
      [
        "d3f5f4c8d9b10011"
      ],
      [
        "d3f5f4c8d9b10012"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10007",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Lookup Build Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 80,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10008",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "MQTT Payloads",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 140,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10009",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Read Lookup Cache",
    "func": "msg.payload = {\n  equipmentToProfile: global.get('ss40kEquipmentToProfile') || {},\n  modelIndexMap: global.get('ss40kModelIndexMap') || {},\n  lookup: global.get('ss40kLookup') || {}\n};\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 240,
    "wires": [
      [
        "d3f5f4c8d9b10007"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10010",
    "type": "mqtt out",
    "z": "d3f5f4c8d9b10001",
    "name": "AWS MQTT Out (disabled until configured)",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d3f5f4c8d9b10013",
    "x": 810,
    "y": 180,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10011",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 220,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10012",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Payload Summary",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 260,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10013",
    "type": "mqtt-broker",
    "name": "CHANGE_ME_AWS_BROKER",
    "broker": "",
    "port": "1883",
    "clientid": "",
    "autoConnect": false,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
