flows/ss40k_fixed_model_export_flow.json
[
  {
    "id": "d3f5f4c8d9b10001",
    "type": "tab",
    "label": "SS40K Fixed Model Export",
    "disabled": false,
    "info": "Build Guardian-style fixed-only MQTT payloads from global.NEW_telemetry. One output message per (equipment, ss40k.model). Update equipmentToProfile and MQTT topic/connection before using against AWS."
  },
  {
    "id": "d3f5f4c8d9b10002",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Build SS40K Lookup",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "d3f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10003",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Build SS40K MQTT Payloads",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 185,
    "y": 160,
    "wires": [
      [
        "d3f5f4c8d9b10006"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10004",
    "type": "inject",
    "z": "d3f5f4c8d9b10001",
    "name": "Show Lookup Cache",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 240,
    "wires": [
      [
        "d3f5f4c8d9b10009"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10005",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Build Template Lookup",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.telemetry || typeof lib.telemetry.buildSs40kLookup !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'ss40k API missing' });\n  return { payload: { error: 'SS40K_API_MISSING' } };\n}\n\nconst equipmentToProfile = {\n  PCS: 'Delta_280_ss40k',\n  PCS2: 'Delta_280_ss40k',\n  PCS3: 'Delta_280_ss40k',\n  PCS4: 'Delta_280_ss40k',\n  MBMU: 'MBMU_280_ss40k',\n  Meter: 'eGauge_280_ss40k',\n  Meter2: 'eGauge_280_ss40k'\n};\n\nconst result = lib.telemetry.buildSs40kLookup(equipmentToProfile);\n\nglobal.set('ss40kLookup', result.lookup);\nglobal.set('ss40kEquipmentToProfile', result.equipmentToProfile);\nglobal.set('ss40kModelIndexMap', result.modelIndexMap);\n\nnode.status({ fill: 'green', shape: 'dot', text: `${Object.keys(result.lookup).length} mapped tags` });\nmsg.payload = {\n  lookupCount: Object.keys(result.lookup).length,\n  equipmentToProfile: result.equipmentToProfile,\n  modelIndexMap: result.modelIndexMap,\n  sample: Object.fromEntries(Object.entries(result.lookup).slice(0, 10))\n};\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 80,
    "wires": [
      [
        "d3f5f4c8d9b10007"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10006",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Build Fixed Payloads",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.telemetry || typeof lib.telemetry.buildSs40kFixedPayloads !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'ss40k API missing' });\n  return [null, { payload: { error: 'SS40K_API_MISSING' } }, null];\n}\n\nconst lookup = global.get('ss40kLookup') || {};\nconst newTelemetry = global.get('NEW_telemetry') || {};\nif (!Object.keys(lookup).length) {\n  node.status({ fill: 'yellow', shape: 'ring', text: 'lookup missing' });\n  return [null, { payload: { error: 'SS40K_LOOKUP_MISSING' } }, null];\n}\n\nconst messages = lib.telemetry.buildSs40kFixedPayloads({\n  lookup,\n  telemetry: newTelemetry,\n  topic: 'fort/v1/things/CHANGE_ME_GSN/telem',\n  version: '3.0'\n});\n\nnode.status({ fill: 'green', shape: 'dot', text: `${messages.length} payloads` });\nreturn [messages, null, { payload: messages.map((msg) => msg.ss40k) }];\n",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 160,
    "wires": [
      [
        "d3f5f4c8d9b10008",
        "d3f5f4c8d9b10010"
      ],
      [
        "d3f5f4c8d9b10011"
      ],
      [
        "d3f5f4c8d9b10012"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10007",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Lookup Build Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 80,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10008",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "MQTT Payloads",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 140,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10009",
    "type": "function",
    "z": "d3f5f4c8d9b10001",
    "name": "Read Lookup Cache",
    "func": "msg.payload = {\n  equipmentToProfile: global.get('ss40kEquipmentToProfile') || {},\n  modelIndexMap: global.get('ss40kModelIndexMap') || {},\n  lookup: global.get('ss40kLookup') || {}\n};\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 240,
    "wires": [
      [
        "d3f5f4c8d9b10007"
      ]
    ]
  },
  {
    "id": "d3f5f4c8d9b10010",
    "type": "mqtt out",
    "z": "d3f5f4c8d9b10001",
    "name": "AWS MQTT Out (disabled until configured)",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d3f5f4c8d9b10013",
    "x": 810,
    "y": 180,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10011",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 220,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10012",
    "type": "debug",
    "z": "d3f5f4c8d9b10001",
    "name": "Payload Summary",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 260,
    "wires": []
  },
  {
    "id": "d3f5f4c8d9b10013",
    "type": "mqtt-broker",
    "name": "CHANGE_ME_AWS_BROKER",
    "broker": "",
    "port": "1883",
    "clientid": "",
    "autoConnect": false,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
