flows/telemetry_calc_constant_smoke_test.json
[
  {
    "id": "c1f5f4c8d9b10001",
    "type": "tab",
    "label": "Telemetry Calc Constant Smoke Test",
    "disabled": false,
    "info": "Compile/start telemetry runtime with inline constant + calc tags, simulate raw replies, and store merged results in flow context."
  },
  {
    "id": "c1f5f4c8d9b10002",
    "type": "inject",
    "z": "c1f5f4c8d9b10001",
    "name": "Compile Smoke Profile",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"compile\",\"profileName\":\"calc_constant_smoke\",\"template\":{\"version\":\"2\",\"device\":{\"vendor\":\"Keystone\",\"model\":\"SmokeCalcConstant\",\"protocol\":\"modbus-tcp\"},\"telemetry\":[{\"id\":\"CONST_SITE_ID\",\"pollClass\":\"startup\",\"constant\":280},{\"id\":\"RAW_POWER\",\"function\":\"HRUS\",\"address\":100,\"pollClass\":\"fast\"},{\"id\":\"SCALE_EXP\",\"function\":\"HR\",\"address\":220,\"pollClass\":\"fast\"},{\"id\":\"SITE_POWER\",\"pollClass\":\"fast\",\"calc\":{\"inputs\":{\"raw\":\"RAW_POWER\",\"sf\":\"SCALE_EXP\"},\"expr\":\"raw * pow(10, sf)\"}}]},\"instance\":{\"equipmentId\":\"Smoke.CalcConst\",\"serverKey\":\"SIM\",\"unitId\":1}}",
    "payloadType": "json",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "c1f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10003",
    "type": "inject",
    "z": "c1f5f4c8d9b10001",
    "name": "Start Smoke Profile",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"start\",\"equipmentId\":\"Smoke.CalcConst\"}",
    "payloadType": "json",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "c1f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10004",
    "type": "inject",
    "z": "c1f5f4c8d9b10001",
    "name": "Stop Smoke Profile",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"cmd\":\"stop\",\"equipmentId\":\"Smoke.CalcConst\"}",
    "payloadType": "json",
    "x": 155,
    "y": 200,
    "wires": [
      [
        "c1f5f4c8d9b10005"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10005",
    "type": "function",
    "z": "c1f5f4c8d9b10001",
    "name": "Telemetry Runtime",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.telemetry || typeof lib.telemetry.handleTelemetryMessage !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'telemetry API missing' });\n  return [null, null, { payload: { error: 'TELEMETRY_API_MISSING' } }];\n}\n\nconst telemetry = lib.telemetry;\nconst equipmentId = 'Smoke.CalcConst';\nconst state = flow.get('calcConstantTelemetryState') || telemetry.createTelemetryRuntimeState();\nconst incoming = msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload)\n  ? { ...msg, ...msg.payload }\n  : msg;\n\nconst asNodeRedMsg = (value) => {\n  if (value == null) return null;\n  if (typeof value === 'object' && !Array.isArray(value) && Object.prototype.hasOwnProperty.call(value, 'payload')) {\n    return value;\n  }\n  return { payload: value };\n};\n\nconst envCfg = {\n  CompilerMaxQty: 120,\n  CompilerMaxSpan: 80,\n  CompilerMaxHole: 4,\n  PollFastMs: 250,\n  PollNormalMs: 1000,\n  PollSlowMs: 5000,\n  MAX_IN_FLIGHT: 4,\n  REQUEST_TIMEOUT_MS: 1500,\n  MODBUS_ZERO_BASED: false,\n  JITTER_MS: 0,\n  RESPECT_TAG_CLAMP: true,\n  SCALE_CLAMP_DEFAULT: false,\n  SKIP_EMPTY_SAMPLES: false\n};\n\ntry {\n  const result = telemetry.handleTelemetryMessage(\n    incoming,\n    envCfg,\n    state,\n    (o1, o2, o3) => node.send([asNodeRedMsg(o1), asNodeRedMsg(o2), asNodeRedMsg(o3)])\n  );\n\n  flow.set('calcConstantTelemetryState', result.state);\n  const activePlan = result.state && result.state.readPlans && result.state.readPlans[equipmentId];\n  if (activePlan) {\n    flow.set('calcConstantPlan', activePlan);\n  }\n\n  const statusText = incoming.cmd || (incoming._reader ? 'reply' : 'start');\n  node.status({ fill: 'green', shape: 'dot', text: statusText });\n\n  return [asNodeRedMsg(result.out1), asNodeRedMsg(result.out2), asNodeRedMsg(result.out3)];\n} catch (err) {\n  node.status({ fill: 'red', shape: 'ring', text: 'runtime threw' });\n  return [null, null, { payload: { error: String(err) } }];\n}\n",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 140,
    "wires": [
      [
        "c1f5f4c8d9b10006"
      ],
      [
        "c1f5f4c8d9b10007",
        "c1f5f4c8d9b10012"
      ],
      [
        "c1f5f4c8d9b10008"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10006",
    "type": "debug",
    "z": "c1f5f4c8d9b10001",
    "name": "Read Requests",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 80,
    "wires": []
  },
  {
    "id": "c1f5f4c8d9b10007",
    "type": "function",
    "z": "c1f5f4c8d9b10001",
    "name": "Assemble Snapshot",
    "func": "const samples = Array.isArray(msg.payload) ? msg.payload : [];\nconst snapshot = flow.get('calcConstantSnapshot') || {};\nconst plan = flow.get('calcConstantPlan') || {};\n\nfor (const sample of samples) {\n  if (!sample || !sample.tagID) continue;\n  snapshot[sample.tagID] = {\n    value: sample.value,\n    timestamp: sample.timestamp || Date.now(),\n    alarm: sample.alarm || 'No',\n    supportingTag: sample.supportingTag || 'No'\n  };\n}\n\nflow.set('calcConstantSnapshot', snapshot);\n\nconst pick = (ids) => {\n  const out = {};\n  for (const id of ids) {\n    if (Object.prototype.hasOwnProperty.call(snapshot, id)) {\n      out[id] = snapshot[id];\n    }\n  }\n  return out;\n};\n\nconst constantTagIDs = Array.isArray(plan.constants) ? plan.constants.map((item) => item.tagID) : [];\nconst calcTagIDs = Array.isArray(plan.calcs) ? plan.calcs.map((item) => item.tagID) : [];\nconst report = {\n  ts: Date.now(),\n  tagCount: Object.keys(snapshot).length,\n  tags: snapshot,\n  constants: pick(constantTagIDs),\n  calcs: pick(calcTagIDs),\n  constantTagIDs,\n  calcTagIDs\n};\n\nflow.set('calcConstantLastReport', report);\nmsg.payload = report;\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 140,
    "wires": [
      [
        "c1f5f4c8d9b10009"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10008",
    "type": "debug",
    "z": "c1f5f4c8d9b10001",
    "name": "Diagnostics",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 200,
    "wires": []
  },
  {
    "id": "c1f5f4c8d9b10009",
    "type": "debug",
    "z": "c1f5f4c8d9b10001",
    "name": "Merged Snapshot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 140,
    "wires": []
  },
  {
    "id": "c1f5f4c8d9b10010",
    "type": "inject",
    "z": "c1f5f4c8d9b10001",
    "name": "Simulate RAW_POWER = 1234",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1234",
    "payloadType": "num",
    "x": 180,
    "y": 300,
    "wires": [
      [
        "c1f5f4c8d9b10013"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10011",
    "type": "inject",
    "z": "c1f5f4c8d9b10001",
    "name": "Simulate SCALE_EXP = -1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "-1",
    "payloadType": "num",
    "x": 175,
    "y": 360,
    "wires": [
      [
        "c1f5f4c8d9b10014"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10012",
    "type": "debug",
    "z": "c1f5f4c8d9b10001",
    "name": "Parsed Block Samples",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 260,
    "wires": []
  },
  {
    "id": "c1f5f4c8d9b10013",
    "type": "function",
    "z": "c1f5f4c8d9b10001",
    "name": "Build RAW_POWER Reply",
    "func": "const state = flow.get('calcConstantTelemetryState') || {};\nconst plan = state.readPlans && state.readPlans['Smoke.CalcConst'];\nif (!plan) {\n  return [null, { payload: { error: 'missing-readplan' } }];\n}\n\nconst blockIdx = plan.blocks.findIndex((block) =>\n  Array.isArray(block.map) && block.map.some((item) => item.tagID === 'RAW_POWER')\n);\nif (blockIdx < 0) {\n  return [null, { payload: { error: 'raw-power-block-missing' } }];\n}\n\nreturn [{\n  _reader: { equipmentId: plan.equipmentId, blockIdx },\n  payload: [Number(msg.payload) & 0xffff]\n}, null];\n",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 300,
    "wires": [
      [
        "c1f5f4c8d9b10005"
      ],
      [
        "c1f5f4c8d9b10008"
      ]
    ]
  },
  {
    "id": "c1f5f4c8d9b10014",
    "type": "function",
    "z": "c1f5f4c8d9b10001",
    "name": "Build SCALE_EXP Reply",
    "func": "const state = flow.get('calcConstantTelemetryState') || {};\nconst plan = state.readPlans && state.readPlans['Smoke.CalcConst'];\nif (!plan) {\n  return [null, { payload: { error: 'missing-readplan' } }];\n}\n\nconst blockIdx = plan.blocks.findIndex((block) =>\n  Array.isArray(block.map) && block.map.some((item) => item.tagID === 'SCALE_EXP')\n);\nif (blockIdx < 0) {\n  return [null, { payload: { error: 'scale-exp-block-missing' } }];\n}\n\nlet raw = Number(msg.payload);\nif (!Number.isFinite(raw)) {\n  return [null, { payload: { error: 'scale-exp-invalid', value: msg.payload } }];\n}\nif (raw < 0) {\n  raw = 0x10000 + raw;\n}\n\nreturn [{\n  _reader: { equipmentId: plan.equipmentId, blockIdx },\n  payload: [raw & 0xffff]\n}, null];\n",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 425,
    "y": 360,
    "wires": [
      [
        "c1f5f4c8d9b10005"
      ],
      [
        "c1f5f4c8d9b10008"
      ]
    ]
  }
]
