flows/unified_control_logic_flow.json
[
  {
    "id": "uclogic_tab",
    "type": "tab",
    "label": "Unified Control Logic",
    "disabled": false,
    "info": "Production-oriented unified control loop. Reads ControlConfig plus telemetry, applies site signal mapping, runs coreControl.runUnifiedControlCycle, and emits writer envelopes."
  },
  {
    "id": "uclogic_tick",
    "type": "inject",
    "z": "uclogic_tab",
    "name": "1s control tick",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "control-tick",
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "uclogic_run"
      ]
    ]
  },
  {
    "id": "uclogic_run",
    "type": "function",
    "z": "uclogic_tab",
    "name": "Run unified control cycle",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.coreControl || typeof lib.coreControl.runUnifiedControlCycle !== 'function') {\n  node.status({ fill: 'red', shape: 'ring', text: 'global.lib.coreControl missing' });\n  return [null, null, { payload: { error: 'global.lib.coreControl.runUnifiedControlCycle is unavailable' } }];\n}\n\nfunction clone(value) {\n  return JSON.parse(JSON.stringify(value));\n}\n\nfunction defaultConfig() {\n  return {\n    system: { systemProfile: 'eSpire280', controllerTimezone: 'America/Los_Angeles', nominal: { voltageVll: 480, frequencyHz: 60 } },\n    network: { controller: { ip: '192.168.1.10', modbusServer: { ip: '192.168.1.20', port: 502 } } },\n    operation: { mode: 'grid-tied', gridCode: 'IEEE1547-2018', crdMode: 'no-export', siteExportMode: 'no-restriction', siteExportTargetImportKw: 0, siteExportDeadbandKw: 0, scheduledControlEnabled: false },\n    pcs: { pcsDaisyChain: [1, 1], maxChargeKw: 250, maxDischargeKw: 250 },\n    mbmu: { sbmuStrings: [2, 2] },\n    battery: { minSoc: 0.1, maxSoc: 0.95, socLow: 0.3, socLowRecover: 0.22, socHigh: 0.95, socHighRecover: 0.92, forceGridChargeSoc: 0.15, forceGridChargeMinCellVoltageV: 2.95, forceGridChargeKw: 10, powerHeadroomKw: 2, commandRampKwPerSec: 25 },\n    pv: { acInverters: [], curtailmentMethod: null },\n    metering: { meterType: 'eGauge-4015', modbusProfile: 'udt_eGauge_V1', ip: '', reads: { pv: true, pvFromInverter: false, utility: true, load: true }, calculations: {} }\n  };\n}\n\n\nfunction normalizeMeteringCalculations(calculations) {\n  const out = {};\n  for (const [key, value] of Object.entries(calculations || {})) {\n    if (typeof value === 'string') {\n      out[key] = { source: 'tag', tagID: value };\n    } else if (value && typeof value === 'object') {\n      out[key] = value;\n    }\n  }\n  return out;\n}\n\nfunction normalizeControlConfig(raw) {\n  const defaults = defaultConfig();\n  const cfg = clone(raw || defaults);\n  cfg.system = Object.assign({}, defaults.system, cfg.system || {});\n  cfg.system.nominal = Object.assign({}, defaults.system.nominal, (cfg.system && cfg.system.nominal) || {});\n  cfg.operation = Object.assign({}, defaults.operation, cfg.operation || {});\n  cfg.battery = Object.assign({}, defaults.battery, cfg.battery || cfg.batteryPolicy || {});\n  cfg.pv = Object.assign({}, defaults.pv, cfg.pv || {});\n  if (!Array.isArray(cfg.pv.acInverters)) cfg.pv.acInverters = [];\n  cfg.metering = Object.assign({}, defaults.metering, cfg.metering || {});\n  cfg.metering.reads = Object.assign({}, defaults.metering.reads, cfg.metering.reads || {});\n  cfg.metering.calculations = normalizeMeteringCalculations(cfg.metering.calculations || defaults.metering.calculations);\n  cfg.network = Object.assign({}, defaults.network, cfg.network || {});\n  cfg.network.controller = Object.assign({}, defaults.network.controller, cfg.network.controller || {});\n  cfg.network.controller.modbusServer = Object.assign({}, defaults.network.controller.modbusServer, cfg.network.controller.modbusServer || {});\n  if (!cfg.network.controller.modbusServer.ip && cfg.metering.ip) cfg.network.controller.modbusServer.ip = cfg.metering.ip;\n  if (!cfg.islanding && cfg.protection && cfg.protection.islanding) cfg.islanding = cfg.protection.islanding;\n  if (cfg.system.systemProfile && String(cfg.system.systemProfile).startsWith('MINI-')) {\n    delete cfg.mbmu;\n    if (cfg.pcs && Array.isArray(cfg.pcs.pcsDaisyChain) && cfg.pcs.pcsDaisyChain.length > 0) {\n      cfg.pcs = Object.assign({}, cfg.pcs, { pcsDaisyChain: [] });\n    }\n  }\n  global.set('siteConfig', cfg);\n  global.set('unifiedControlConfig', cfg);\n  return cfg;\n}\n\nfunction defaultSignalMapping() {\n  return {\n    sources: {\n      Meter: { profile: 'udt_eGauge_V1', role: 'siteMeter' },\n      Meter2: { profile: 'udt_eGauge_V1', role: 'pvMeter' },\n      PCS: { profile: 'Delta_280_ss40k', role: 'pcs' }\n    },\n    deadbands: { pvKw: 0.3 },\n    signals: {\n      utilityPowerKw: { expr: 'Meter.Utility_Total_Power', invertSign: false },\n      pvKw: { expr: 'deadband(Meter2.Solar, 0.3)', invertSign: false },\n      pcsActivePowerKw: { expr: 'PCS.SYSTEM_POWER_ACTIVE_ALL', invertSign: false },\n      siteLoadKw: { expr: 'utilityPowerKw + pvKw + pcsActivePowerKw' },\n      generatorRunning: { expr: 'Meter.Generator_Total_Power > 1' }\n    }\n  };\n}\n\nfunction indexTelemetry(telemetry) {\n  const index = {};\n  const roots = {};\n  function put(tagID, value) {\n    index[tagID] = value;\n    const parts = String(tagID).split('.');\n    if (parts.length >= 2) {\n      const root = parts.shift();\n      const leaf = parts.join('.');\n      roots[root] = roots[root] || {};\n      roots[root][leaf] = value;\n    }\n  }\n  for (const [key, value] of Object.entries(telemetry || {})) {\n    if (Array.isArray(value)) {\n      for (const sample of value) {\n        if (sample && sample.tagID) put(sample.tagID, sample.value);\n      }\n    } else if (value && typeof value === 'object' && 'value' in value && value.tagID) {\n      put(value.tagID, value.value);\n    } else {\n      index[key] = value;\n      if (key.includes('.')) put(key, value);\n    }\n  }\n  return { index, roots };\n}\n\nfunction numeric(value, fallback) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction firstNumber(index, keys, fallback) {\n  for (const key of keys) {\n    if (key in index) {\n      const n = Number(index[key]);\n      if (Number.isFinite(n)) return n;\n    }\n  }\n  return fallback;\n}\n\nfunction activeRealtimeDispatch() {\n  const rt = global.get('realtimeDispatch') || flow.get('realtimeDispatch') || {};\n  if (rt.enabled === false) return {};\n  if (Number.isFinite(Number(rt.expiresAtMs)) && Date.now() > Number(rt.expiresAtMs)) return {};\n  return rt;\n}\n\nfunction evalSignal(expr, scope) {\n  const deadband = (value, threshold) => Math.abs(Number(value) || 0) < Math.abs(Number(threshold) || 0) ? 0 : Number(value);\n  const names = Object.keys(scope).concat(['deadband', 'max', 'min', 'abs', 'round', 'Math']);\n  const values = Object.keys(scope).map((name) => scope[name]).concat([deadband, Math.max, Math.min, Math.abs, Math.round, Math]);\n  const fn = new Function(...names, '\"use strict\"; return (' + expr + ');');\n  return fn(...values);\n}\n\nfunction buildSchedule(config) {\n  const plans = global.get('schedulePlans') || flow.get('schedulePlans');\n  if (plans && lib.scheduler && typeof lib.scheduler.matchActiveSchedulePlan === 'function') {\n    const activePlan = lib.scheduler.matchActiveSchedulePlan(plans, { now: new Date(), timezone: config.system.controllerTimezone });\n    const output = activePlan ? lib.scheduler.scheduleOutputFromActivePlan(activePlan) : {};\n    global.set('scheduleOutput', output);\n    return output;\n  }\n  return global.get('scheduleOutput') || flow.get('scheduleOutput') || {};\n}\n\ntry {\n  const rawConfig = msg.controlConfig || flow.get('controlConfig') || global.get('controlConfig') || global.get('unifiedControlConfig') || defaultConfig();\n  const config = normalizeControlConfig(rawConfig);\n  const signalMapping = config.signalMapping || flow.get('signalMapping') || global.get('signalMapping') || defaultSignalMapping();\n  const rawTelemetry = msg.telemetry || (msg.payload && msg.payload.telemetry) || global.get('telemetry') || msg.payload || {};\n  const telemetryIndex = indexTelemetry(rawTelemetry);\n  const scope = Object.assign({}, telemetryIndex.roots);\n  const canonical = {};\n  const errors = [];\n  const order = ['utilityPowerKw', 'pvKw', 'pcsActivePowerKw', 'siteLoadKw', 'generatorRunning'];\n\n  for (const key of order) {\n    const spec = signalMapping.signals && signalMapping.signals[key];\n    if (!spec || !spec.expr) continue;\n    try {\n      const value = evalSignal(spec.expr, Object.assign({}, scope, canonical));\n      const finalValue = spec.invertSign ? -Number(value) : value;\n      canonical[key] = typeof finalValue === 'boolean' ? finalValue : numeric(finalValue, undefined);\n    } catch (error) {\n      errors.push({ signal: key, expr: spec.expr, error: error.message || String(error) });\n    }\n  }\n\n  config.metering = config.metering || { meterType: '', modbusProfile: '', ip: '', reads: { pv: true, pvFromInverter: false, utility: true, load: true }, calculations: {} };\n  config.metering.calculations = {\n    utilityPowerKw: { source: 'tag', tagID: 'utilityPowerKw' },\n    siteLoadKw: { source: 'tag', tagID: 'siteLoadKw' },\n    pvKw: { source: 'tag', tagID: 'pvKw' }\n  };\n\n  const gridStatus = config.operation && config.operation.mode === 'off-grid' ? 'island' : 'normal';\n  const realtime = activeRealtimeDispatch();\n  const baseTelemetry = {\n    soc: firstNumber(telemetryIndex.index, ['MBMU.System_SOC_pct', 'MBMU.system_SOC_raw', 'AMPACE.BamsSOC', 'BMS.SOC', 'soc'], 0.5),\n    gridStatus,\n    pcsActivePowerKw: canonical.pcsActivePowerKw,\n    generatorRunning: canonical.generatorRunning === true,\n    realtimeActivePowerKwRequest: numeric(realtime.activePowerKw ?? realtime.realtimeActivePowerKwRequest, undefined),\n    realtimeReactivePowerKvarRequest: numeric(realtime.reactivePowerKvar ?? realtime.realtimeReactivePowerKvarRequest, undefined),\n    machineStatus: {\n      batteryVoltageV: firstNumber(telemetryIndex.index, ['MBMU.System_Voltage_V', 'AMPACE.BamsTotalVol', 'PCS.DCInputVoltage'], undefined),\n      maxChargeCurrentAllowedA: firstNumber(telemetryIndex.index, ['MBMU.Max_Charge_Current_Allowed_A', 'AMPACE.BamsPermitChgCurr', 'PCS.MaxChgCurrent'], undefined),\n      maxDischargeCurrentAllowedA: firstNumber(telemetryIndex.index, ['MBMU.Max_Discharge_Current_Allowed_A', 'AMPACE.BamsPermitDsgCurr', 'PCS.MaxDsgCurrent'], undefined),\n      maxCellVoltageV: firstNumber(telemetryIndex.index, ['MBMU.Max_Cell_Voltage_V', 'AMPACE.BamsMaxCellVol'], undefined),\n      minCellVoltageV: firstNumber(telemetryIndex.index, ['MBMU.Min_Cell_Voltage_V', 'AMPACE.BamsMinCellVol'], undefined),\n      maxCellTemperatureC: firstNumber(telemetryIndex.index, ['MBMU.Max_Cell_Temperature_C', 'AMPACE.BamsMaxCellTemp'], undefined),\n      minCellTemperatureC: firstNumber(telemetryIndex.index, ['MBMU.Min_Cell_Temperature_C', 'AMPACE.BamsMinCellTemp'], undefined),\n      bmsStatus: firstNumber(telemetryIndex.index, ['MBMU.BMS_Status', 'AMPACE.BamsStatus'], undefined),\n      pcsGlobalState: firstNumber(telemetryIndex.index, ['PCS.SYSTEM_GLOBAL_STATE', 'PCS.SystemStatusMap'], undefined)\n    }\n  };\n\n  const controlState = flow.get('controlState') || {};\n  const cycle = lib.coreControl.runUnifiedControlCycle(config, {\n    telemetry: Object.assign({}, telemetryIndex.index, canonical),\n    baseTelemetry,\n    schedule: buildSchedule(config),\n    state: controlState,\n    nowMs: Date.now()\n  });\n\n  flow.set('controlState', controlState);\n  flow.set('lastUnifiedControlCycle', cycle);\n  global.set('lastUnifiedControlCycle', cycle);\n\n  const writerMessages = (cycle.writerEnvelopes || []).map((envelope) => ({\n    topic: envelope.topic,\n    payload: envelope.payload,\n    envelope,\n    controlCommand: cycle.command\n  }));\n\n  node.status({ fill: errors.length ? 'yellow' : 'green', shape: errors.length ? 'ring' : 'dot', text: `${writerMessages.length} writer envelope(s)` });\n\n  return [\n    writerMessages,\n    { payload: { canonical, realtime, command: cycle.command, pipeline: cycle.pipeline, diagnostics: cycle.diagnostics, writerEnvelopeCount: writerMessages.length, signalMappingErrors: errors } },\n    errors.length ? { payload: { errors, canonical } } : null\n  ];\n} catch (error) {\n  node.status({ fill: 'red', shape: 'ring', text: 'control cycle failed' });\n  return [null, null, { payload: { error: error.message || String(error), stack: error.stack } }];\n}\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 120,
    "wires": [
      [
        "uclogic_writer_debug"
      ],
      [
        "uclogic_status_debug"
      ],
      [
        "uclogic_error_debug"
      ]
    ]
  },
  {
    "id": "uclogic_writer_debug",
    "type": "debug",
    "z": "uclogic_tab",
    "name": "writer envelopes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 80,
    "wires": []
  },
  {
    "id": "uclogic_status_debug",
    "type": "debug",
    "z": "uclogic_tab",
    "name": "control status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 140,
    "wires": []
  },
  {
    "id": "uclogic_error_debug",
    "type": "debug",
    "z": "uclogic_tab",
    "name": "control errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 200,
    "wires": []
  },
  {
    "id": "uclogic_catch",
    "type": "catch",
    "z": "uclogic_tab",
    "name": "flow errors",
    "scope": [
      "uclogic_run"
    ],
    "uncaught": false,
    "x": 390,
    "y": 220,
    "wires": [
      [
        "uclogic_error_debug"
      ]
    ]
  },
  {
    "id": "uclogic_status_http",
    "type": "http in",
    "z": "uclogic_tab",
    "name": "GET control status",
    "url": "/api/control/status",
    "method": "get",
    "upload": false,
    "wires": [
      [
        "uclogic_status_handler"
      ]
    ],
    "x": 150,
    "y": 360
  },
  {
    "id": "uclogic_status_handler",
    "type": "function",
    "z": "uclogic_tab",
    "name": "Build control status",
    "func": "const cycle = global.get('lastUnifiedControlCycle') || {};\nconst config = global.get('siteConfig') || global.get('unifiedControlConfig') || global.get('controlConfig') || {};\nconst groups = global.get('schedulePlans') || flow.get('schedulePlans') || [];\nconst planCount = Array.isArray(groups) ? groups.reduce((total, group) => total + (Array.isArray(group && group.timed) ? group.timed.length : 0), 0) : 0;\nconst telemetry = global.get('telemetry') || flow.get('telemetry') || {};\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = {\n  data: {\n    ok: true,\n    updatedAt: new Date().toISOString(),\n    systemProfile: config.system && config.system.systemProfile,\n    productLine: cycle.design && cycle.design.productLine,\n    operationMode: config.operation && config.operation.mode,\n    schedulePlanCount: planCount,\n    realtimeDispatch: global.get('realtimeDispatch') || flow.get('realtimeDispatch') || {},\n    command: cycle.command || null,\n    pipeline: cycle.pipeline || null,\n    diagnostics: cycle.diagnostics || null,\n    writerEnvelopes: cycle.writerEnvelopes || [],\n    telemetryKeys: Object.keys(telemetry).slice(0, 50)\n  }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": [
      [
        "uclogic_status_response"
      ]
    ],
    "x": 390,
    "y": 360
  },
  {
    "id": "uclogic_status_response",
    "type": "http response",
    "z": "uclogic_tab",
    "name": "control status response",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 360,
    "wires": []
  },
  {
    "id": "uclogic_rt_http",
    "type": "http in",
    "z": "uclogic_tab",
    "name": "POST realtime dispatch",
    "url": "/api/control/realtime-dispatch",
    "method": "post",
    "upload": false,
    "wires": [
      [
        "uclogic_rt_handler"
      ]
    ],
    "x": 160,
    "y": 420
  },
  {
    "id": "uclogic_rt_handler",
    "type": "function",
    "z": "uclogic_tab",
    "name": "Save realtime dispatch",
    "func": "let body = msg.payload || {};\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch (error) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'invalid JSON body' };\n    return msg;\n  }\n}\nconst numberOrUndefined = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : undefined;\n};\nconst ttlSec = Math.max(1, numberOrUndefined(body.ttlSec ?? body.ttlSeconds) || 300);\nconst dispatch = {\n  enabled: body.enabled !== false,\n  activePowerKw: numberOrUndefined(body.activePowerKw),\n  reactivePowerKvar: numberOrUndefined(body.reactivePowerKvar),\n  realtimeActivePowerKwRequest: numberOrUndefined(body.realtimeActivePowerKwRequest ?? body.activePowerKw),\n  expiresAtMs: Date.now() + ttlSec * 1000,\n  updatedAt: new Date().toISOString(),\n  source: body.source || 'api'\n};\nif (dispatch.enabled === false) {\n  dispatch.activePowerKw = undefined;\n  dispatch.realtimeActivePowerKwRequest = undefined;\n}\nglobal.set('realtimeDispatch', dispatch);\nflow.set('realtimeDispatch', dispatch);\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { data: dispatch };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": [
      [
        "uclogic_rt_response"
      ]
    ],
    "x": 400,
    "y": 420
  },
  {
    "id": "uclogic_rt_response",
    "type": "http response",
    "z": "uclogic_tab",
    "name": "realtime dispatch response",
    "statusCode": "",
    "headers": {},
    "x": 670,
    "y": 420,
    "wires": []
  }
]
