flows/unified_control_lab_dashboard.json
[
  {
    "id": "ucl_tab",
    "type": "tab",
    "label": "Unified Control Lab",
    "disabled": false,
    "info": "Debug-only lab for scheduler, unified control, generator sequencer, and eSpire280 islanding sequencer. Requires global.get(\"lib\") from /data-internal/dist."
  },
  {
    "id": "ucl_ui_tab",
    "type": "ui_tab",
    "name": "Control Lab",
    "icon": "dashboard",
    "order": 11,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ucl_group_config",
    "type": "ui_group",
    "name": "Config",
    "tab": "ucl_ui_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ucl_group_scenarios",
    "type": "ui_group",
    "name": "Scenarios",
    "tab": "ucl_ui_tab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ucl_group_results",
    "type": "ui_group",
    "name": "Results",
    "tab": "ucl_ui_tab",
    "order": 3,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ucl_profile",
    "type": "ui_dropdown",
    "z": "ucl_tab",
    "name": "System Profile",
    "label": "System Profile",
    "tooltip": "",
    "place": "Select",
    "group": "ucl_group_config",
    "order": 1,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "eSpire280",
        "value": "eSpire280",
        "type": "str"
      },
      {
        "label": "MINI-60-90-163-480",
        "value": "MINI-60-90-163-480",
        "type": "str"
      }
    ],
    "payload": "eSpire280",
    "topic": "systemProfile",
    "topicType": "str",
    "className": "",
    "x": 160,
    "y": 80,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_crd",
    "type": "ui_dropdown",
    "z": "ucl_tab",
    "name": "CRD Mode",
    "label": "CRD Mode",
    "tooltip": "",
    "place": "Select",
    "group": "ucl_group_config",
    "order": 2,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "no-export",
        "value": "no-export",
        "type": "str"
      },
      {
        "label": "no-import",
        "value": "no-import",
        "type": "str"
      },
      {
        "label": "no-exchange",
        "value": "no-exchange",
        "type": "str"
      },
      {
        "label": "no-restriction",
        "value": "no-restriction",
        "type": "str"
      }
    ],
    "payload": "no-export",
    "topic": "crdMode",
    "topicType": "str",
    "className": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_scheduled",
    "type": "ui_switch",
    "z": "ucl_tab",
    "name": "Scheduled",
    "label": "Scheduled Control",
    "tooltip": "",
    "group": "ucl_group_config",
    "order": 3,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "scheduledControlEnabled",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_min_soc",
    "type": "ui_numeric",
    "z": "ucl_tab",
    "name": "Min SOC",
    "label": "Min SOC",
    "tooltip": "",
    "group": "ucl_group_config",
    "order": 4,
    "width": "2",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "minSoc",
    "topicType": "str",
    "format": "{{value}}",
    "min": "0",
    "max": "1",
    "step": "0.01",
    "className": "",
    "x": 140,
    "y": 200,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_max_soc",
    "type": "ui_numeric",
    "z": "ucl_tab",
    "name": "Max SOC",
    "label": "Max SOC",
    "tooltip": "",
    "group": "ucl_group_config",
    "order": 5,
    "width": "2",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "maxSoc",
    "topicType": "str",
    "format": "{{value}}",
    "min": "0",
    "max": "1",
    "step": "0.01",
    "className": "",
    "x": 140,
    "y": 240,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_gen_type",
    "type": "ui_dropdown",
    "z": "ucl_tab",
    "name": "Generator IO",
    "label": "Generator IO",
    "tooltip": "",
    "place": "Select",
    "group": "ucl_group_config",
    "order": 6,
    "width": "3",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "SEL",
        "value": "SEL",
        "type": "str"
      },
      {
        "label": "RemoteIO",
        "value": "RemoteIO",
        "type": "str"
      }
    ],
    "payload": "SEL",
    "topic": "generatorControlType",
    "topicType": "str",
    "className": "",
    "x": 160,
    "y": 280,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_gen_charge",
    "type": "ui_numeric",
    "z": "ucl_tab",
    "name": "Gen Charge kW",
    "label": "Gen Charge kW",
    "tooltip": "",
    "group": "ucl_group_config",
    "order": 7,
    "width": "3",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "generatorChargeKw",
    "topicType": "str",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "step": "1",
    "className": "",
    "x": 170,
    "y": 320,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_init",
    "type": "inject",
    "z": "ucl_tab",
    "name": "Initialize Lab",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "init",
    "payload": "init",
    "payloadType": "str",
    "x": 160,
    "y": 380,
    "wires": [
      [
        "ucl_apply_config"
      ]
    ]
  },
  {
    "id": "ucl_apply_config",
    "type": "function",
    "z": "ucl_tab",
    "name": "Apply Lab Config",
    "func": "const defaults = {\n  systemProfile: 'eSpire280',\n  crdMode: 'no-export',\n  scheduledControlEnabled: false,\n  minSoc: 0.1,\n  maxSoc: 0.95,\n  socLow: 0.3,\n  socLowRecover: 0.22,\n  socHigh: 0.95,\n  socHighRecover: 0.92,\n  forceGridChargeSoc: 0.15,\n  forceGridChargeMinCellVoltageV: 2.95,\n  forceGridChargeKw: 10,\n  powerHeadroomKw: 2,\n  commandRampKwPerSec: 25,\n  generatorControlType: 'SEL',\n  generatorChargeKw: 30\n};\nconst cfg = Object.assign({}, defaults, flow.get('labConfig') || {});\nif (msg.topic && msg.topic !== 'init') {\n  cfg[msg.topic] = msg.payload;\n}\ncfg.scheduledControlEnabled = cfg.scheduledControlEnabled === true || cfg.scheduledControlEnabled === 'true';\ncfg.minSoc = Number(cfg.minSoc);\ncfg.maxSoc = Number(cfg.maxSoc);\ncfg.socLow = Number(cfg.socLow);\ncfg.socLowRecover = Number(cfg.socLowRecover);\ncfg.socHigh = Number(cfg.socHigh);\ncfg.socHighRecover = Number(cfg.socHighRecover);\ncfg.forceGridChargeSoc = Number(cfg.forceGridChargeSoc);\ncfg.forceGridChargeMinCellVoltageV = Number(cfg.forceGridChargeMinCellVoltageV);\ncfg.forceGridChargeKw = Number(cfg.forceGridChargeKw);\ncfg.powerHeadroomKw = Number(cfg.powerHeadroomKw);\ncfg.commandRampKwPerSec = Number(cfg.commandRampKwPerSec);\ncfg.generatorChargeKw = Number(cfg.generatorChargeKw);\nflow.set('labConfig', cfg);\nmsg.payload = cfg;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 200,
    "wires": [
      [
        "ucl_config_view",
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_config_view",
    "type": "ui_template",
    "z": "ucl_tab",
    "group": "ucl_group_config",
    "name": "Config JSON",
    "order": 8,
    "width": "12",
    "height": "6",
    "format": "<pre style=\"white-space:pre-wrap;font-size:12px;line-height:1.35;margin:0;\">{{msg.payload | json}}</pre>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 670,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "ucl_btn_no_export_exporting",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "No Export Exporting",
    "group": "ucl_group_scenarios",
    "order": 1,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "No Export: Exporting",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "no-export-exporting",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 190,
    "y": 460,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_btn_scheduled",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "Scheduled Peak",
    "group": "ucl_group_scenarios",
    "order": 2,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "Scheduled Peak",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "scheduled-peak",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 170,
    "y": 500,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_btn_safety",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "Machine Safety",
    "group": "ucl_group_scenarios",
    "order": 3,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "Machine Safety",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "machine-safety",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 170,
    "y": 540,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_btn_generator",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "Generator",
    "group": "ucl_group_scenarios",
    "order": 4,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "Generator Running",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "generator-running",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 160,
    "y": 580,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_btn_island_outage",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "Island Outage",
    "group": "ucl_group_scenarios",
    "order": 5,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "Island: Outage",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "island-outage-step",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 170,
    "y": 620,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_btn_grid_return",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "Island Grid Return",
    "group": "ucl_group_scenarios",
    "order": 6,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "Island: Grid Return",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "island-grid-return-step",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 190,
    "y": 660,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_btn_reset",
    "type": "ui_button",
    "z": "ucl_tab",
    "name": "Reset Sequencers",
    "group": "ucl_group_scenarios",
    "order": 7,
    "width": "4",
    "height": "1",
    "passthru": false,
    "label": "Reset Sequencers",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "reset",
    "payloadType": "str",
    "topic": "scenario",
    "topicType": "str",
    "x": 180,
    "y": 700,
    "wires": [
      [
        "ucl_run"
      ]
    ]
  },
  {
    "id": "ucl_run",
    "type": "function",
    "z": "ucl_tab",
    "name": "Run Control Lab Scenario",
    "func": "const lib = global.get('lib');\nif (!lib || !lib.scheduler || !lib.coreControl) {\n  node.error('global lib with scheduler/coreControl is unavailable', msg);\n  return null;\n}\n\nconst scenario = msg.payload || 'no-export-exporting';\nif (scenario === 'reset') {\n  flow.set('islandingState', { mode: 'idle' });\n  flow.set('generatorState', { mode: 'idle' });\n  msg.payload = { scenario, reset: true };\n  return msg;\n}\n\nconst cfg = Object.assign({\n  systemProfile: 'eSpire280',\n  crdMode: 'no-export',\n  scheduledControlEnabled: false,\n  minSoc: 0.1,\n  maxSoc: 0.95,\n  socLow: 0.3,\n  socLowRecover: 0.22,\n  socHigh: 0.95,\n  socHighRecover: 0.92,\n  forceGridChargeSoc: 0.15,\n  forceGridChargeMinCellVoltageV: 2.95,\n  forceGridChargeKw: 10,\n  powerHeadroomKw: 2,\n  commandRampKwPerSec: 25,\n  generatorControlType: 'SEL',\n  generatorChargeKw: 30\n}, flow.get('labConfig') || {});\n\nfunction siteConfig(overrides = {}) {\n  const isMini = String(cfg.systemProfile).startsWith('MINI-');\n  const base = {\n    system: { systemProfile: cfg.systemProfile, controllerTimezone: 'America/Los_Angeles', nominal: { voltageVll: 480, frequencyHz: 60 } },\n    network: { controller: { ip: '192.168.1.10', modbusServer: { ip: '192.168.1.20', port: 502 } } },\n    operation: { mode: 'grid-tied', gridCode: 'IEEE1547-2018', crdMode: cfg.crdMode, scheduledControlEnabled: cfg.scheduledControlEnabled },\n    battery: { minSoc: Number(cfg.minSoc), maxSoc: Number(cfg.maxSoc), socLow: Number(cfg.socLow), socLowRecover: Number(cfg.socLowRecover), socHigh: Number(cfg.socHigh), socHighRecover: Number(cfg.socHighRecover), forceGridChargeSoc: Number(cfg.forceGridChargeSoc), forceGridChargeMinCellVoltageV: Number(cfg.forceGridChargeMinCellVoltageV), forceGridChargeKw: Number(cfg.forceGridChargeKw), powerHeadroomKw: Number(cfg.powerHeadroomKw), commandRampKwPerSec: Number(cfg.commandRampKwPerSec) },\n    pv: { acInverters: [], curtailmentMethod: null },\n    metering: {\n      meterType: 'eGauge-4015', modbusProfile: 'udt_eGauge_V1', ip: '192.168.1.88',\n      reads: { pv: false, pvFromInverter: false, utility: true, load: true },\n      calculations: {\n        utilityPowerKw: { source: 'tag', tagID: 'Meter.POI_kW' },\n        siteLoadKw: { source: 'tag', tagID: 'Meter.Load_Total_Power' },\n        pvKw: { source: 'tag', tagID: 'Meter.PV_Total_Power' }\n      }\n    },\n    generator: {\n      maxKw: 50,\n      chargeFromGenerator: true,\n      chargeKwLimit: Number(cfg.generatorChargeKw),\n      startSoc: 0.2,\n      stopSoc: 0.9,\n      controlType: cfg.generatorControlType\n    }\n  };\n  if (!isMini) {\n    base.pcs = { pcsDaisyChain: [1, 1], maxChargeKw: 250, maxDischargeKw: 250 };\n    base.mbmu = { sbmuStrings: [2, 2] };\n  }\n  return Object.assign(base, overrides);\n}\n\nconst plans = [\n  { timed: [{ planID: 'may_off_peak', name: '5_off-peak_weekday_strategy', cron: '0 0 * MAY MON,TUE,WED,THU,FRI', duration: { unit: 'minutes', value: 959 }, start: '2026-05-01T00:00:00', until: '2026-05-31T15:59:00', strategy: { meter_rule: { discharge: { net_load_threshold: { value: 25.86, unit: 'kW' } }, charge: { net_load_threshold: { value: 19.4, unit: 'kW' } } } } }] },\n  { timed: [{ planID: 'may_peak', name: '5_peak_weekday_strategy', cron: '0 16 * MAY MON,TUE,WED,THU,FRI', duration: { unit: 'minutes', value: 299 }, start: '2026-05-01T16:00:00', until: '2026-05-31T20:59:00', strategy: { meter_rule: { discharge: { net_load_threshold: { value: 5.16, unit: 'kW' } }, charge: { net_load_threshold: { value: -999999, unit: 'kW' } } } } }] },\n  { planID: 'default', name: 'Default Command', default: true, cron: '0 0 * * *', strategy: { meter_rule: { discharge: { net_load_threshold: { value: 85, unit: 'kW' } }, charge: { net_load_threshold: { value: 0, unit: 'kW' } } } } }\n];\n\nlet now = '2026-05-04T19:00:00.000Z';\nlet telemetry = { 'Meter.POI_kW': -18, 'Meter.Load_Total_Power': 30, 'Meter.PV_Total_Power': 42 };\nlet baseTelemetry = { soc: 0.62, gridStatus: 'normal', realtimeActivePowerKwRequest: 0 };\nlet localConfig = siteConfig();\n\nif (scenario === 'scheduled-peak') {\n  now = '2026-05-04T23:30:00.000Z';\n  localConfig.operation.scheduledControlEnabled = true;\n  localConfig.operation.crdMode = 'no-restriction';\n  telemetry = { 'Meter.POI_kW': 30, 'Meter.Load_Total_Power': 50, 'Meter.PV_Total_Power': 0 };\n}\nif (scenario === 'machine-safety') {\n  baseTelemetry = { soc: 0.62, gridStatus: 'normal', realtimeActivePowerKwRequest: -25, machineStatus: { bmsStatus: 1, maxCellVoltageV: 3.58, minCellVoltageV: 3.2 } };\n  telemetry = { 'Meter.POI_kW': 0, 'Meter.Load_Total_Power': 30, 'Meter.PV_Total_Power': 0 };\n}\n\nconst activePlan = lib.scheduler.matchActiveSchedulePlan(plans, { now, timezone: localConfig.system.controllerTimezone });\nconst schedule = activePlan ? lib.scheduler.scheduleOutputFromActivePlan(activePlan) : {};\nconst cycle = lib.coreControl.runUnifiedControlCycle(localConfig, { telemetry, baseTelemetry, schedule });\n\nlet generatorState = flow.get('generatorState') || { mode: 'idle' };\nconst generatorTelemetry = {\n  nowMs: Date.now(),\n  batterySoc: scenario === 'generator-running' ? 0.5 : baseTelemetry.soc,\n  generatorRunning: scenario === 'generator-running',\n  generatorAvailable: true\n};\nconst generator = lib.coreControl.evaluateGeneratorSequencer(localConfig.generator, generatorTelemetry, generatorState);\nflow.set('generatorState', generator.state);\nconst generatorWriterEnvelopes = localConfig.generator ? lib.coreControl.generatorCommandsToWriterEnvelopes(localConfig.generator, generator.commands, { remoteIoTopic: 'RemoteIO', remoteIoGeneratorTagID: 'RemoteIO.Generator_Start' }) : [];\n\nlet islandingState = flow.get('islandingState') || { mode: 'idle' };\nlet islandTelemetry = { nowMs: Date.now(), outageDetected: false, interlockClosed: false, pcsOnOff: 1, pcsGlobalState: 3, pcsRunMode: 0, gridWireConnection: 0 };\nif (scenario === 'island-outage-step') {\n  const step = Number(flow.get('islandStep') || 0) + 1;\n  flow.set('islandStep', step);\n  const snapshots = [\n    { outageDetected: true },\n    { outageDetected: true },\n    { outageDetected: true, interlockClosed: false },\n    { outageDetected: true, interlockClosed: true },\n    { outageDetected: true, interlockClosed: true, pcsOnOff: 1, pcsGlobalState: 3 },\n    { outageDetected: true, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 0, gridWireConnection: 0 },\n    { outageDetected: true, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: true, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: true, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: true, interlockClosed: true, pcsOnOff: 1, pcsGlobalState: 6, pcsRunMode: 1, gridWireConnection: 1 }\n  ];\n  islandTelemetry = Object.assign({ nowMs: step * 250, outageDetected: true, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 1, gridWireConnection: 1 }, snapshots[Math.min(step - 1, snapshots.length - 1)]);\n}\nif (scenario === 'island-grid-return-step') {\n  const step = Number(flow.get('gridStep') || 0) + 1;\n  flow.set('gridStep', step);\n  if (!islandingState || islandingState.mode === 'idle') islandingState = { mode: 'island-hold', phase: 'outage' };\n  const snapshots = [\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 1, pcsGlobalState: 6, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 1, pcsGlobalState: 6, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 1, pcsGlobalState: 6, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 1, gridWireConnection: 1 },\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 0, gridWireConnection: 0 },\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 2, pcsGlobalState: 1, pcsRunMode: 0, gridWireConnection: 0 },\n    { outageDetected: false, interlockClosed: true, pcsOnOff: 1, pcsGlobalState: 3, pcsRunMode: 0, gridWireConnection: 0 },\n    { outageDetected: false, interlockClosed: false, pcsOnOff: 1, pcsGlobalState: 3, pcsRunMode: 0, gridWireConnection: 0 }\n  ];\n  islandTelemetry = Object.assign({ nowMs: step * 250 + 5000 }, snapshots[Math.min(step - 1, snapshots.length - 1)]);\n}\nconst islanding = lib.coreControl.evaluateESpire280IslandingSequencer(islandTelemetry, islandingState, { waitMs: 100, retryMs: 200, modeDwellMs: 100, gridClearHoldMs: 100 });\nflow.set('islandingState', islanding.state);\nconst islandingWriterEnvelopes = lib.coreControl.islandingCommandsToWriterEnvelopes(islanding.commands, { selTopic: localConfig.islanding?.device === 'SEL851' ? 'SEL851' : 'SEL751', interlockTagID: localConfig.islanding?.device === 'SEL851' ? 'SEL851.RB_1' : 'SEL751.RB_1' });\n\nmsg.payload = {\n  scenario,\n  labConfig: cfg,\n  schedule: { selectedPlan: schedule.selectedPlan, strategy: schedule.strategy, constraints: schedule.constraints },\n  unifiedControl: { telemetry: cycle.telemetry, command: cycle.command, pipeline: cycle.pipeline, writerEnvelopes: cycle.writerEnvelopes, diagnostics: cycle.diagnostics },\n  generator: { telemetry: generatorTelemetry, state: generator.state, commands: generator.commands, reasons: generator.reasons, writerEnvelopes: generatorWriterEnvelopes },\n  islanding: { telemetry: islandTelemetry, state: islanding.state, commands: islanding.commands, reasons: islanding.reasons, writerEnvelopes: islandingWriterEnvelopes }\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 580,
    "wires": [
      [
        "ucl_result_template",
        "ucl_debug"
      ]
    ]
  },
  {
    "id": "ucl_result_template",
    "type": "ui_template",
    "z": "ucl_tab",
    "group": "ucl_group_results",
    "name": "Control Lab Result",
    "order": 1,
    "width": "24",
    "height": "18",
    "format": "<div style=\"font-family:monospace;font-size:12px;line-height:1.35;\">\n  <h3 style=\"margin:0 0 8px 0;\">{{msg.payload.scenario}}</h3>\n  <table style=\"width:100%;border-collapse:collapse;margin-bottom:8px;\">\n    <tr><td style=\"border-top:1px solid #ddd;padding:4px;color:#666;width:25%;\">Sequencer Step</td><td style=\"border-top:1px solid #ddd;padding:4px;\">{{msg.payload.islanding.state.mode}}</td></tr>\n    <tr><td style=\"border-top:1px solid #ddd;padding:4px;color:#666;\">Sequencer Reasons</td><td style=\"border-top:1px solid #ddd;padding:4px;\">{{msg.payload.islanding.reasons | json}}</td></tr>\n    <tr><td style=\"border-top:1px solid #ddd;padding:4px;color:#666;\">Sequencer Commands</td><td style=\"border-top:1px solid #ddd;padding:4px;\">{{msg.payload.islanding.commands | json}}</td></tr>\n    <tr><td style=\"border-top:1px solid #ddd;padding:4px;color:#666;\">Writer Envelopes</td><td style=\"border-top:1px solid #ddd;padding:4px;\">{{msg.payload.islanding.writerEnvelopes | json}}</td></tr>\n  </table>\n  <pre style=\"white-space:pre-wrap;margin:0;\">{{msg.payload | json}}</pre>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 760,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "ucl_debug",
    "type": "debug",
    "z": "ucl_tab",
    "name": "Control Lab Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 620,
    "wires": []
  }
]
