flows/unified_control_dashboard.json
[
  {
    "id": "ucd_tab_001",
    "type": "tab",
    "label": "Unified Control Dashboard",
    "disabled": false,
    "info": "Dashboard for editing unified SiteConfig and previewing design/routePlan."
  },
  {
    "id": "ucd_ui_tab_001",
    "type": "ui_tab",
    "name": "Unified Control",
    "icon": "dashboard",
    "order": 10,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ucd_ui_group_config",
    "type": "ui_group",
    "name": "Selections",
    "tab": "ucd_ui_tab_001",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ucd_ui_group_json",
    "type": "ui_group",
    "name": "Structured JSON",
    "tab": "ucd_ui_tab_001",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ucd_ui_group_preview",
    "type": "ui_group",
    "name": "Preview",
    "tab": "ucd_ui_tab_001",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ucd_dd_profile",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "System Profile",
    "label": "System Profile",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 1,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "eSpire280",
        "value": "eSpire280",
        "type": "str"
      },
      {
        "label": "MINI-60-90-163-480",
        "value": "MINI-60-90-163-480",
        "type": "str"
      },
      {
        "label": "MINI-30-45-81-480",
        "value": "MINI-30-45-81-480",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "site.SystemProfile",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 88,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_timezone",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Timezone",
    "label": "Timezone",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 2,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "America/Los_Angeles",
        "value": "America/Los_Angeles",
        "type": "str"
      },
      {
        "label": "America/Denver",
        "value": "America/Denver",
        "type": "str"
      },
      {
        "label": "America/Chicago",
        "value": "America/Chicago",
        "type": "str"
      },
      {
        "label": "America/New_York",
        "value": "America/New_York",
        "type": "str"
      },
      {
        "label": "UTC",
        "value": "UTC",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "site.ControllerTimezone",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 116,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_controller_ip",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "Controller IP",
    "label": "Controller IP",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 3,
    "width": "4",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "site.ControllerIp",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 144,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_modbus_ip",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "Modbus Server IP",
    "label": "Modbus Server IP",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 4,
    "width": "4",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "site.ModbusServerIp",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 172,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_modbus_port",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Modbus Port",
    "label": "Modbus Port",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 5,
    "width": "1",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "site.ModbusServerPort",
    "topicType": "str",
    "format": "{{value}}",
    "min": "65535",
    "max": "1",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 200,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_operation_mode",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Operation Mode",
    "label": "Operation Mode",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 6,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "grid-tied",
        "value": "grid-tied",
        "type": "str"
      },
      {
        "label": "backup",
        "value": "backup",
        "type": "str"
      },
      {
        "label": "off-grid",
        "value": "off-grid",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "microgrid.OperationMode",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 228,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_grid_code",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Grid Code",
    "label": "Grid Code",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 7,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "IEEE1547-2018",
        "value": "IEEE1547-2018",
        "type": "str"
      },
      {
        "label": "Rule21",
        "value": "Rule21",
        "type": "str"
      },
      {
        "label": "Rule14H",
        "value": "Rule14H",
        "type": "str"
      },
      {
        "label": "PREPA-MTR",
        "value": "PREPA-MTR",
        "type": "str"
      },
      {
        "label": "ISO",
        "value": "ISO",
        "type": "str"
      },
      {
        "label": "Ontario-ESA",
        "value": "Ontario-ESA",
        "type": "str"
      },
      {
        "label": "Custom",
        "value": "Custom",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "microgrid.GridCode",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 256,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_crd",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "CRD Mode",
    "label": "CRD Mode",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 8,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "no-restriction",
        "value": "no-restriction",
        "type": "str"
      },
      {
        "label": "no-import",
        "value": "no-import",
        "type": "str"
      },
      {
        "label": "no-export",
        "value": "no-export",
        "type": "str"
      },
      {
        "label": "no-exchange",
        "value": "no-exchange",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "microgrid.CRDMode",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 284,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_schedule",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "Scheduled Control",
    "label": "Scheduled Control",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 9,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "microgrid.ScheduledControlEnabled",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 312,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_charge",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Max Charge kW",
    "label": "Max Charge kW",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 10,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "battery.SiteMaxChargekW",
    "topicType": "str",
    "format": "{{value}}",
    "min": "",
    "max": "1",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 340,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_discharge",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Max Discharge kW",
    "label": "Max Discharge kW",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 11,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "battery.SiteMaxDischargekW",
    "topicType": "str",
    "format": "{{value}}",
    "min": "",
    "max": "1",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 368,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_min_soc",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Min SOC",
    "label": "Min SOC",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 12,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "battery.ControllerMinSOC",
    "topicType": "str",
    "format": "{{value}}",
    "min": "1",
    "max": "0.01",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 396,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_max_soc",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Max SOC",
    "label": "Max SOC",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 13,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "battery.ControllerMaxSOC",
    "topicType": "str",
    "format": "{{value}}",
    "min": "1",
    "max": "0.01",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 424,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_pv_curt",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "PV Curtailment",
    "label": "PV Curtailment",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 14,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "modbus",
        "value": "modbus",
        "type": "str"
      },
      {
        "label": "frequency-shifting",
        "value": "frequency-shifting",
        "type": "str"
      },
      {
        "label": "none",
        "value": "none",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "pv.PvCurtailmentMethod",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 452,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_meter_type",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Meter Type",
    "label": "Meter Type",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 15,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "eGauge-4015",
        "value": "eGauge-4015",
        "type": "str"
      },
      {
        "label": "Accuenergy-AcuRev",
        "value": "Accuenergy-AcuRev",
        "type": "str"
      },
      {
        "label": "Other",
        "value": "Other",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "metering.MeterType",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 480,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_meter_profile",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Meter Profile",
    "label": "Meter Profile",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 16,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "udt_eGauge_V1",
        "value": "udt_eGauge_V1",
        "type": "str"
      },
      {
        "label": "acurev_v1",
        "value": "acurev_v1",
        "type": "str"
      },
      {
        "label": "custom",
        "value": "custom",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "metering.MeterProfile",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 508,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_meter_ip",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "Meter IP",
    "label": "Meter IP",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 17,
    "width": "4",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "metering.MeterIp",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 536,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_read_utility",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "Reads Utility",
    "label": "Reads Utility",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 18,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "metering.ReadsUtility",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 564,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_read_load",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "Reads Load",
    "label": "Reads Load",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 19,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "metering.ReadsLoad",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 592,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_read_pv",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "Reads PV",
    "label": "Reads PV",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 20,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "metering.ReadsPv",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 620,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_pv_inv",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "PV From Inverter",
    "label": "PV From Inverter",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 21,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "metering.PvFromInverter",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 648,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_islanding",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Islanding Device",
    "label": "Islanding Device",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 22,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "none",
        "value": "none",
        "type": "str"
      },
      {
        "label": "SEL351",
        "value": "SEL351",
        "type": "str"
      },
      {
        "label": "SEL751",
        "value": "SEL751",
        "type": "str"
      },
      {
        "label": "SEL851",
        "value": "SEL851",
        "type": "str"
      },
      {
        "label": "ASCO-ATS",
        "value": "ASCO-ATS",
        "type": "str"
      },
      {
        "label": "EATON-ATS",
        "value": "EATON-ATS",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "protection.IslandingDevice",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 676,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_gen_enabled",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "Generator Enabled",
    "label": "Generator Enabled",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 23,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "generator.GeneratorEnabled",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 704,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_gen_kw",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Generator Max kW",
    "label": "Generator Max kW",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 24,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "generator.GeneratorMaxKw",
    "topicType": "str",
    "format": "{{value}}",
    "min": "",
    "max": "1",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 732,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_sw_gen_charge",
    "type": "ui_switch",
    "z": "ucd_tab_001",
    "name": "Charge From Generator",
    "label": "Charge From Generator",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 25,
    "width": "3",
    "height": "0",
    "passthru": true,
    "decouple": "false",
    "topic": "generator.ChargeFromGenerator",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 220,
    "y": 760,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_gen_charge_kw",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Generator Charge Limit",
    "label": "Generator Charge Limit",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 26,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "generator.GeneratorChargeKwLimit",
    "topicType": "str",
    "format": "{{value}}",
    "min": "",
    "max": "1",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 788,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_gen_start",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Generator Start SOC",
    "label": "Generator Start SOC",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 27,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "generator.GeneratorStartSoc",
    "topicType": "str",
    "format": "{{value}}",
    "min": "1",
    "max": "0.01",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 816,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_num_gen_stop",
    "type": "ui_numeric",
    "z": "ucd_tab_001",
    "name": "Generator Stop SOC",
    "label": "Generator Stop SOC",
    "tooltip": "",
    "group": "ucd_ui_group_config",
    "order": 28,
    "width": "0",
    "height": "0",
    "wrap": false,
    "passthru": true,
    "topic": "generator.GeneratorStopSoc",
    "topicType": "str",
    "format": "{{value}}",
    "min": "1",
    "max": "0.01",
    "step": "1",
    "className": "",
    "x": 220,
    "y": 844,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_dd_gen_type",
    "type": "ui_dropdown",
    "z": "ucd_tab_001",
    "name": "Generator Control",
    "label": "Generator Control",
    "tooltip": "",
    "place": "Select option",
    "group": "ucd_ui_group_config",
    "order": 29,
    "width": "4",
    "height": "0",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "RemoteIO",
        "value": "RemoteIO",
        "type": "str"
      },
      {
        "label": "SEL",
        "value": "SEL",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "generator.GeneratorControlType",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 872,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_pcs_chain",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "PCS Daisy Chain JSON",
    "label": "PCS Daisy Chain JSON",
    "tooltip": "",
    "group": "ucd_ui_group_json",
    "order": 1,
    "width": "6",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "battery.PcsDaisyChain",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 88,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_sbmu",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "SBMU Strings JSON",
    "label": "SBMU Strings JSON",
    "tooltip": "",
    "group": "ucd_ui_group_json",
    "order": 2,
    "width": "6",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "battery.SbmuStrings",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 116,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_ac_inv",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "AC Inverters JSON",
    "label": "AC Inverters JSON",
    "tooltip": "",
    "group": "ucd_ui_group_json",
    "order": 3,
    "width": "12",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "pv.AcInvertersJson",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 144,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_txt_meter_calc",
    "type": "ui_text_input",
    "z": "ucd_tab_001",
    "name": "Metering Calculations JSON",
    "label": "Metering Calculations JSON",
    "tooltip": "",
    "group": "ucd_ui_group_json",
    "order": 4,
    "width": "12",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": "300",
    "topic": "metering.CalculationsJson",
    "topicType": "str",
    "sendOnBlur": true,
    "className": "",
    "x": 220,
    "y": 172,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_reset_inject",
    "type": "inject",
    "z": "ucd_tab_001",
    "name": "Reset Dashboard Draft",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "reset",
    "payload": "{\"reset\":true}",
    "payloadType": "json",
    "x": 210,
    "y": 900,
    "wires": [
      [
        "ucd_apply_config"
      ]
    ]
  },
  {
    "id": "ucd_apply_config",
    "type": "function",
    "z": "ucd_tab_001",
    "name": "Apply Unified Site Config + Preview",
    "func": "\nconst lib = global.get('lib');\n\nconst defaultDraft = () => ({\n  site: {\n    SystemProfile: 'eSpire280',\n    ControllerTimezone: 'America/Los_Angeles',\n    ControllerIp: '192.168.1.10',\n    ModbusServerIp: '192.168.1.20',\n    ModbusServerPort: 502\n  },\n  microgrid: {\n    OperationMode: 'grid-tied',\n    GridCode: 'IEEE1547-2018',\n    CRDMode: 'no-export',\n    ScheduledControlEnabled: false\n  },\n  battery: {\n    PcsDaisyChain: '[1,1]',\n    SbmuStrings: '[2,2]',\n    SiteMaxChargekW: 250,\n    SiteMaxDischargekW: 250,\n    ControllerMinSOC: 0.1,\n    ControllerMaxSOC: 0.95,\n    ControllerSocLow: 0.3,\n    ControllerSocLowRecover: 0.22,\n    ControllerSocHigh: 0.95,\n    ControllerSocHighRecover: 0.92,\n    ForceGridChargeSoc: 0.15,\n    ForceGridChargeMinCellVoltageV: 2.95,\n    ForceGridChargeKw: 10,\n    BatteryPowerHeadroomKw: 2,\n    BatteryCommandRampKwPerSec: 25\n  },\n  pv: {\n    AcInvertersJson: '[{\"type\":\"Chint\",\"model\":\"CPS-60\",\"ratedKwAc\":60,\"ip\":\"192.168.1.201\",\"port\":502,\"modbusProfile\":\"chint_cps_v1\"}]',\n    PvCurtailmentMethod: 'modbus'\n  },\n  metering: {\n    MeterType: 'eGauge-4015',\n    MeterProfile: 'udt_eGauge_V1',\n    MeterIp: '192.168.1.88',\n    ReadsUtility: true,\n    ReadsLoad: true,\n    ReadsPv: false,\n    PvFromInverter: true,\n    CalculationsJson: '{\"utilityPowerKw\":{\"source\":\"tag\",\"tagID\":\"Meter.POI_kW\"},\"siteLoadKw\":{\"source\":\"calc\",\"inputs\":{\"utility\":\"Meter.POI_kW\",\"pcs\":\"PCS.SYSTEM_POWER_ACTIVE_ALL\",\"pv\":\"Chint1.PAC\"},\"expr\":\"utility + pcs + pv\"},\"pvKw\":{\"source\":\"tag\",\"tagID\":\"Chint1.PAC\"}}'\n  },\n  protection: {\n    IslandingDevice: 'SEL851'\n  },\n  generator: {\n    GeneratorEnabled: false,\n    GeneratorMaxKw: 100,\n    ChargeFromGenerator: true,\n    GeneratorChargeKwLimit: 50,\n    GeneratorStartSoc: 0.2,\n    GeneratorStopSoc: 0.8,\n    GeneratorControlType: 'RemoteIO'\n  }\n});\n\nfunction asNumber(value, fallback) {\n  const number = Number(value);\n  return Number.isFinite(number) ? number : fallback;\n}\n\nfunction asBoolean(value) {\n  return value === true || value === 'true' || value === 1 || value === '1' || value === 'on';\n}\n\nfunction parseJson(value, fallback, label, errors) {\n  if (value == null || String(value).trim() === '') return fallback;\n  try {\n    return JSON.parse(String(value));\n  } catch (error) {\n    errors.push(`${label}: ${error.message}`);\n    return fallback;\n  }\n}\n\nfunction setPath(target, path, value) {\n  const parts = String(path || '').split('.').filter(Boolean);\n  if (parts.length !== 2) return false;\n  const [section, field] = parts;\n  if (!target[section]) return false;\n  target[section][field] = value;\n  return true;\n}\n\nfunction buildConfig(draft, errors) {\n  const pcsDaisyChain = parseJson(draft.battery.PcsDaisyChain, [], 'PCS Daisy Chain JSON', errors);\n  const sbmuStrings = parseJson(draft.battery.SbmuStrings, [], 'SBMU Strings JSON', errors);\n  const acInverters = parseJson(draft.pv.AcInvertersJson, [], 'AC Inverters JSON', errors);\n  const calculations = parseJson(draft.metering.CalculationsJson, undefined, 'Metering Calculations JSON', errors);\n\n  const config = {\n    system: {\n      systemProfile: String(draft.site.SystemProfile || 'eSpire280'),\n      controllerTimezone: String(draft.site.ControllerTimezone || 'America/Los_Angeles'),\n      nominal: {\n        voltageVll: 480,\n        frequencyHz: 60\n      }\n    },\n    network: {\n      controller: {\n        ip: String(draft.site.ControllerIp || ''),\n        modbusServer: {\n          ip: String(draft.site.ModbusServerIp || ''),\n          port: asNumber(draft.site.ModbusServerPort, 502)\n        }\n      }\n    },\n    operation: {\n      mode: String(draft.microgrid.OperationMode || 'grid-tied'),\n      gridCode: String(draft.microgrid.GridCode || 'IEEE1547-2018'),\n      crdMode: String(draft.microgrid.CRDMode || 'no-export'),\n      scheduledControlEnabled: asBoolean(draft.microgrid.ScheduledControlEnabled)\n    },\n    battery: {\n      minSoc: asNumber(draft.battery.ControllerMinSOC, 0.1),\n      maxSoc: asNumber(draft.battery.ControllerMaxSOC, 0.95),\n      socLow: asNumber(draft.battery.ControllerSocLow, 0.3),\n      socLowRecover: asNumber(draft.battery.ControllerSocLowRecover, 0.22),\n      socHigh: asNumber(draft.battery.ControllerSocHigh, 0.95),\n      socHighRecover: asNumber(draft.battery.ControllerSocHighRecover, 0.92),\n      forceGridChargeSoc: asNumber(draft.battery.ForceGridChargeSoc, 0.15),\n      forceGridChargeMinCellVoltageV: asNumber(draft.battery.ForceGridChargeMinCellVoltageV, 2.95),\n      forceGridChargeKw: asNumber(draft.battery.ForceGridChargeKw, 10),\n      powerHeadroomKw: asNumber(draft.battery.BatteryPowerHeadroomKw, 2),\n      commandRampKwPerSec: asNumber(draft.battery.BatteryCommandRampKwPerSec, 25)\n    },\n    pv: {\n      acInverters: Array.isArray(acInverters) ? acInverters : [],\n      curtailmentMethod: draft.pv.PvCurtailmentMethod === 'none' ? null : String(draft.pv.PvCurtailmentMethod || 'modbus')\n    },\n    metering: {\n      meterType: String(draft.metering.MeterType || ''),\n      modbusProfile: String(draft.metering.MeterProfile || ''),\n      ip: String(draft.metering.MeterIp || ''),\n      reads: {\n        utility: asBoolean(draft.metering.ReadsUtility),\n        load: asBoolean(draft.metering.ReadsLoad),\n        pv: asBoolean(draft.metering.ReadsPv),\n        pvFromInverter: asBoolean(draft.metering.PvFromInverter)\n      },\n      calculations\n    }\n  };\n\n  const isMini = String(config.system.systemProfile).startsWith('MINI-');\n  if (!isMini) {\n    config.pcs = {\n      pcsDaisyChain: Array.isArray(pcsDaisyChain) ? pcsDaisyChain : [],\n      maxChargeKw: asNumber(draft.battery.SiteMaxChargekW, 0),\n      maxDischargeKw: asNumber(draft.battery.SiteMaxDischargekW, 0)\n    };\n    config.mbmu = {\n      sbmuStrings: Array.isArray(sbmuStrings) ? sbmuStrings : []\n    };\n  } else if (asNumber(draft.battery.SiteMaxChargekW, 0) > 0 || asNumber(draft.battery.SiteMaxDischargekW, 0) > 0) {\n    config.pcs = {\n      pcsDaisyChain: [],\n      maxChargeKw: asNumber(draft.battery.SiteMaxChargekW, 0),\n      maxDischargeKw: asNumber(draft.battery.SiteMaxDischargekW, 0)\n    };\n  }\n\n  const islandingDevice = String(draft.protection.IslandingDevice || 'none');\n  if (islandingDevice && islandingDevice !== 'none') {\n    config.islanding = { device: islandingDevice };\n  }\n\n  if (asBoolean(draft.generator.GeneratorEnabled)) {\n    config.generator = {\n      maxKw: asNumber(draft.generator.GeneratorMaxKw, 0),\n      chargeFromGenerator: asBoolean(draft.generator.ChargeFromGenerator),\n      chargeKwLimit: asNumber(draft.generator.GeneratorChargeKwLimit, 0),\n      startSoc: asNumber(draft.generator.GeneratorStartSoc, 0.2),\n      stopSoc: asNumber(draft.generator.GeneratorStopSoc, 0.8),\n      controlType: String(draft.generator.GeneratorControlType || 'RemoteIO')\n    };\n  }\n\n  return config;\n}\n\nlet draft = flow.get('unifiedDashboardDraft') || defaultDraft();\n\nif (msg.payload && msg.payload.reset === true) {\n  draft = defaultDraft();\n} else if (msg.topic) {\n  setPath(draft, msg.topic, msg.payload);\n}\n\nflow.set('unifiedDashboardDraft', draft);\n\nconst errors = [];\nconst config = buildConfig(draft, errors);\nflow.set('unifiedSiteConfig', config);\n\nlet design;\nlet routePlan;\nlet apiError;\n\ntry {\n  if (!lib || !lib.coreControl || typeof lib.coreControl.buildUnifiedControlDesign !== 'function') {\n    apiError = 'coreControl API missing from global.lib';\n  } else {\n    design = lib.coreControl.buildUnifiedControlDesign(config);\n    routePlan = lib.coreControl.buildUnifiedControlRoutePlan(design);\n  }\n} catch (error) {\n  apiError = error.message || String(error);\n}\n\nconst payload = {\n  updatedField: msg.topic || 'reset',\n  errors,\n  apiError,\n  activeRouteIds: routePlan ? routePlan.activeRouteIds : [],\n  productPath: routePlan ? routePlan.productPath : undefined,\n  config,\n  design,\n  routePlan\n};\n\nnode.status({\n  fill: apiError || errors.length ? 'yellow' : 'green',\n  shape: apiError || errors.length ? 'ring' : 'dot',\n  text: apiError || errors.length ? 'config needs attention' : `${payload.productPath || 'config'} ready`\n});\n\nreturn [{ payload }, { payload }];\n",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 460,
    "wires": [
      [
        "ucd_preview_template"
      ],
      [
        "ucd_debug_preview"
      ]
    ]
  },
  {
    "id": "ucd_preview_template",
    "type": "ui_template",
    "z": "ucd_tab_001",
    "group": "ucd_ui_group_preview",
    "name": "Unified Control Preview",
    "order": 1,
    "width": "12",
    "height": "16",
    "format": "\n<div class=\"uc-preview\">\n  <h3>Unified Control Preview</h3>\n  <div ng-if=\"msg.payload.apiError\" class=\"warn\">{{msg.payload.apiError}}</div>\n  <div ng-if=\"msg.payload.errors && msg.payload.errors.length\" class=\"warn\">\n    <div ng-repeat=\"err in msg.payload.errors track by $index\">{{err}}</div>\n  </div>\n  <div class=\"chips\">\n    <span>Product: {{msg.payload.productPath || 'n/a'}}</span>\n    <span>Updated: {{msg.payload.updatedField || 'n/a'}}</span>\n  </div>\n  <h4>Active Routes</h4>\n  <div class=\"route-list\">\n    <span ng-repeat=\"route in msg.payload.activeRouteIds track by $index\">{{route}}</span>\n  </div>\n  <h4>Config / Design JSON</h4>\n  <pre>{{msg.payload | json}}</pre>\n</div>\n<style>\n.uc-preview { font-size: 13px; }\n.uc-preview h3 { margin: 0 0 10px 0; }\n.uc-preview h4 { margin: 12px 0 6px 0; }\n.uc-preview .warn { color: #8a4b00; background: #fff4d6; padding: 8px; margin-bottom: 8px; border-left: 4px solid #ffb300; }\n.uc-preview .chips span, .uc-preview .route-list span { display: inline-block; margin: 3px; padding: 4px 8px; border-radius: 3px; background: #e8eef7; }\n.uc-preview pre { white-space: pre-wrap; max-height: 520px; overflow: auto; background: #111827; color: #d1d5db; padding: 10px; border-radius: 4px; }\n</style>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 1010,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "ucd_debug_preview",
    "type": "debug",
    "z": "ucd_tab_001",
    "name": "Unified Config Preview",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 500,
    "wires": []
  }
]
